[2017-02-17 09:31] ajnavarro opened #21 "Create command to initialize tables."
* [x] add `borges init` command exposing this
* [x] add `schema.sql` with bindata into core

[2017-04-27 10:26] ajnavarro opened #26 "If repository fails, borges tries to fetch it immediately"
we need to mark the repository as error and re-queue again later.

[2017-04-27 10:46] ajnavarro opened #27 "If rabbit borges queue is deleted, a lot of repositories won't be processed."
The repositories are already into the repositories table. We need an automatic way to re-add this repositories to the queue to be able to process it.

[2017-04-27 12:43] ajnavarro opened #28 "Mentions producer is getting slow over time"

[2017-04-27 14:14] ajnavarro opened #29 "improve archiving performance"
Too slow processing repository jobs.

[2017-04-27 14:16] ajnavarro opened #30 "Consumer and producer are not able to reconnect to rabbit if it restarts."

[2017-05-09 14:16] ajnavarro opened #32 "Create Dockerfile"

[2017-05-16 10:30] #30 closed, assigned to ajnavarro

[2017-05-24 08:31] ajnavarro opened #42 "consumer: only is processing one job at a time, does not matter the number of workers."

[2017-05-24 08:34] ajnavarro opened #43 "changes: a reference can be from a non commit type object."
We need to add the logic to resolve a reference hash if it is pointing to a annotated tag. If it is pointing to an object that is neither a commit or a tag object, an error must be logged and continue the process with the next reference.

[2017-05-24 11:55] #28 closed, assigned to ajnavarro

[2017-05-25 08:15] ajnavarro opened #44 "consumer: add a timeout for big or buggy repositories."
To avoid really long processing times due bugs or bottlenecks into borges or go-git, we should add a timeout logic into workers to stop and log the specific repository.

[2017-05-25 08:15] ajnavarro opened #45 "Add more logs"
We need more logs to know what is happening when a repository is in process.

[2017-05-29 10:09] #32 closed, assigned to ajnavarro

[2017-05-31 09:13] ajnavarro opened #47 "instead of using --broker param, use standard configuration (CONFIG_BROKER)"

[2017-06-14 13:49] #43 closed, assigned to ajnavarro

[2017-06-14 14:03] bzz opened #52 "borges consumer - `push to rooted repo xxx failed: object not found`"
Even after merging #46 consumer fails on https://github.com/erelsgl/limdu

[code]

and same on https://github.com/Zucka/girafAdmin

[code]

same on https://github.com/CyanogenMod/android_hardware_qcom_fm

<details>

[code]
</details>

one more is https://github.com/Zucka/girafAdmin

[2017-06-14 14:53] bzz opened #53 "borges consumer - repository records in DB are not updated"
After fetching 10 repos though file produce/borges consumer, the only place to get hash of the first commit of the RooteRepo - a `repositories` DB table, does not have a commit hash in it:
 - all repos have `pending` status
[code]
 - `_references` field, where URL should be is empty

[code]

[2017-06-15 07:39] #26 closed, assigned to ajnavarro

[2017-06-15 08:20] alcortesm opened #54 "Connecting to the database but not finding the tables should throw an error"
As a runner of borges,
I want to know if the database is missing the necessary tables,
so that I can add them myself and try again running borges.

Right now borges just sits there silently doing nothing when it does not find the required tables in the database.

Alternatively Borges can add the tables itself instead of complaining that they are not there.

[2017-06-16 12:24] bzz opened #58 "running borges on a repository twice fails: verify that update works"
In case when borges consumer is run for the _2nd time with same repos_, after they have already been fetched before (and so `.siva` files exist) - all consumers fail on all the repos in exactly the same way as in src-d/borges#52

Steps to reproduce

[code]

Actual result:
[code]

Expected result:
 - [Reposioty.FetchedAt](https://github.com/src-d/core/blob/master/model/repository.go#L29) modificati

[2017-06-19 08:33] #45 closed, assigned to ajnavarro

[2017-06-20 16:54] alcortesm opened #62 "AMQP best practices recommends one channel per thread"
In the current version, the `Consumer` is a single thread reading from an AMQP `Channel` and distributing the jobs among several workers in a `Workerpool`.

The number of workers in the workerpool can be adjusted dynamically, but in doing so, the flow control over the AMQP channel gets outdated, resulting in either too few jobs in-flight or too many, given the new number of workers in the workerpo

[2017-06-22 12:13] ajnavarro opened #63 "linejobiter_test.go uses the main database to execute the tests."
We should use the specific test suite in https://github.com/src-d/core/blob/master/test/suite.go to create the specific database for this tests.

You can see an example of how to use in https://github.com/src-d/borges/blob/master/archiver_test.go#L30

[2017-06-22 18:01] #47 closed, assigned to alcortesm

[2017-06-22 20:09] #54 closed, assigned to alcortesm

[2017-06-22 22:52] #42 closed, assigned to alcortesm

[2017-06-27 10:08] #53 closed, assigned to ajnavarro, bzz

[2017-06-27 10:24] smola opened #64 "create producer that handles both new repositories and updates"
A policy will be needed to schedule:
* New repositories from rovers.
* Update of repositories based on commit frequency
* Update based on repository status (pending or failed)
* Requeue buried jobs
* Add better logging (to see what's beeing fetch on update)
* Etc?

[2017-06-28 07:19] alcortesm commented on #52
According to this thread, this issue has been fixed by @ajnavarro in https://github.com/src-d/go-git/pull/440 and https://github.com/src-d/go-git/pull/442, which are already merged.

Does this means that in order to solve this issue the only remaining taks to do is to advance the go-git version in the glide.lock file?

[2017-06-28 07:23] ajnavarro commented on #52
@alcortesm the `object not found` error should be checked running borges, because is not only one bug. Actually I fixed 3 bugs to minimize that error, but could still happens sometimes, for other cases.

[2017-06-28 07:26] alcortesm commented on #52
OK

[2017-06-28 07:39] alcortesm commented on #63
# Data Retrieval Sprint #17 Planning:

The current tests interfere with real data from ordinary runs of the program as both are using the same database.  A good solution is for tests to use different database (in the same DBMS).

@ajnavarro pointed out that https://github.com/src-d/borges/blob/master/archiver_test.go#L30 is already solving that same issue in another project.  I will try to solve t

[2017-06-28 07:46] alcortesm commented on #58
# Data Retrieval Sprint #17 Planning:

This should be fixed once start using the solution to https://github.com/src-d/core-retrieval/issues/16.

- [ ] (0 hours) verify this has been solved by https://github.com/src-d/core-retrieval/issues/16.

[2017-06-28 15:24] ajnavarro opened #68 "Calculated roots is always 0"
[code]
Roots are always 0, then no rooted repository is created never (that means no siva files).

[2017-06-29 07:06] ajnavarro commented on #68
Never mind, is the correct behavior, the repository was on sync with the last fetch. Maybe we will need to improve the logs to say something like "repository is up to date".

[2017-06-29 08:15] #68 closed

[2017-06-29 17:09] bzz opened #71 "Add `borges version`"
As a developer responsible to deployment of Borges to k8s cluster,
I would like to be able to tell for sure which version is currently deployed.

This can be done by executing `borges --version` or some other similar command

[2017-06-29 17:41] bzz opened #72 "Consumer: can not process the repository `error="reference not found"`"
Was running locally \w #70 and #69 merged

It seems
 - https://github.com/CyanogenMod/android_hardware_qcom_fm
 - https://github.com/poojakarthik/Vericon
 - https://github.com/ev3dev/avahi
 - https://github.com/AOKP/device_motorola_otus
 - https://github.com/Tbsc/Techy
 - https://github.com/QawsQAER/ESDC2014
 - https://github.com/qwio2000/Hongkong

all fail with similar error

[code]

~For debuggi

[2017-06-29 20:48] bzz opened #73 "Consumer: failing jobs immediately re-scheduled forever"
As a developer running Borges consumer, I would like to prevent infinite loop of rescheduling for failing jobs.

Right now, if input queue only has 2 jobs, both of which are not processable - consumer will immediately reschedule them forever, keeping CPU buys.

It is also not possible to just remove those from the queue - it seems that they got put back to the queue right after a failing attempt t

[2017-06-30 07:47] alcortesm commented on #72
a counter in the job that gets incremented everytime a job is resqueduled?

Then when rescheduling, check the counter and if it is too high send to a "really-dead-don't-reschedule-queue" instead.

[2017-06-30 07:59] ajnavarro commented on #72
@alcortesm actually, all failed repos are keept in the dead-letter queue. For something, in this case is not.

[2017-06-30 08:13] ajnavarro commented on #72
@alcortesm here is an example about the metadata that is into a failed job:
![buried-example](https://user-images.githubusercontent.com/1196465/27726920-a59a2db6-5d7c-11e7-9b81-5488da9a4d1a.png)

It's also counting the times that was rejected too, but right now we don't have any policy to requeue this failed jobs into the main queue.

[2017-06-30 08:18] ajnavarro commented on #73
@bzz Did you update all the dependencies using `glide up` ? I'm not able to reproduce this bug:
[code]

Both jobs are now into the dead-letter queue.

[2017-06-30 08:31] bzz commented on #73
Checking again on a clean environment \wo any Go installed.
[code]

[2017-06-30 08:32] ajnavarro commented on #72
@bzz This repository doesn't have master branch, the problem could come from this.

[2017-06-30 08:33] bzz commented on #72
@ajnavarro True. What is the expected failure mode for such case?

[2017-06-30 08:43] ajnavarro commented on #72
@bzz we souldn't fail ;D

[2017-06-30 09:11] smola opened #74 "store repository URL in rooted repositories"
URL which was used to fetch a repository should be present in rooted repositories. We can do this by leveraging git `remotes` config.

The result would be:
* For each remote repository, there is a remote with the repository ULID as its remote name.
* We would not create special names for the references like now, ULID would be just the remote name in reference names like `refs/remotes/<ULID>/<branc

[2017-06-30 09:45] bzz opened #75 "Consumer: verify performance on 99mb repo"
Processing of

 - https://github.com/upsilonproject/upsilon-common
 - https://github.com/hclivess/Bismuth

seems to take _40 min_ each.

It's a 100+mb repo with 500+ commits.

This issue is about investigating the root cause of this slowdown.

[2017-06-30 10:22] bzz opened #76 "Consumer: 2 workers doing same job"
When there are 20 repos and 20 workers, borges consumer seems to schedule same job (for a very slow repository, by occasion) on 2 different nodes.

[code]

Full log of these 2 jobs below

<details>

[code]
</details>

### Steps to reproduce
[code]

`top20repos.txt` in details
<details>

[code]
</details>

[2017-06-30 10:31] ajnavarro commented on #76
@bzz check that you didn't add it twice into the queue. If yes, is totally expected.

[2017-06-30 13:02] bzz commented on #76
@ajnavarro this was result of running commands above once, on clean environment.

 `./bin/borges_linux_amd64/borges producer --source=file --file /work/top20repos.txt` adds everything once, right?

[2017-06-30 13:22] ajnavarro commented on #76
@bzz yes,it adds everything once, but you can execute it more than one time.

[2017-06-30 13:25] bzz commented on #76
I see. But it was just a single first run on that machine :/

[2017-06-30 15:05] bzz opened #78 "Producer: on adding 200 repos, only 178 are in DB"
- `borges producer --source=file --file ./top200repos.txt`
 - got 200 messages in Rabbit, `borges.buriedQueue` empty
[code]
 - got 178 records in DB
[code]

[top200repos.txt](https://github.com/src-d/borges/files/1115641/top200repos.txt)
200 lines files, `cat top200repos.txt | sort -u | uniq -d -c` is empty so there is no duplicated and `wc -l ` is `200`

[2017-06-30 18:33] bzz commented on #72
Found 6 more cases of what seems to be the same error, updated PR description

[2017-06-30 18:45] bzz opened #79 "Consumer: archiving 1 out of 2 roots failed"
There were 3 non-fork repositories out of 178 that partially failed with `archiving 1 out of 2 roots failed`.

 - https://github.com/melcon/sipxtapi
 - https://github.com/Iolop/sipxtapi
 - https://github.com/litalidev/sipxtapi

Full log in details
<details>

[code]
</details>

[2017-07-01 09:56] bzz opened #80 "Consumer: out of 200, 2 messages suck in the queue"
After 24h for processing top 178 repositories (same file as in #78 ), there were 2 that seems stuck(re-schedulled?) in the main queue forever \w CPU% != 0.

Both had payload `gaxSZXBvc2l0b3J5SUTEEAFc+Ucr70NX9CQFPcYv14s=` with is `base64(msgpack)` and quite hard to debug :/

According to http://sugendran.github.io/msgpack-visualizer/ and http://kawanet.github.io/msgpack-lite/ it seems to be

[code]

[2017-07-01 10:09] bzz commented on #78
Same happens with 2000 repos from text file:
 - queue has 2000 elements,
 - but DB only 1814

[code]

[2017-07-03 09:49] ajnavarro commented on #80
@bzz this is the ID of this repo: 015cf947-2bef-4357-f424-053dc62fd78b

[2017-07-03 10:24] alcortesm opened #82 "Clarify how to build"
As a developer of borges I want to know how to build the project.

Right now, the `README.md` mentions you should run `make packages` and you will find your binary at `borges_linux_amd64/borges` and `borges_darwin_amd64/borges`.

While that is true, a `bin/borges` directory/file is also created. so we should clarify that.

Also it is important to run `rm Makefile.main; rm -rf .ci` before calling m

[2017-07-03 10:43] ajnavarro commented on #78
@bzz is not a Borges error, we have duplicated repos in python and java lists, like this: `github.com/mihaic/graphalytics.git`

[2017-07-03 10:46] ajnavarro commented on #78
@bzz Also you can check it in the `top200repos.txt` file too: `sort top200repos.txt | uniq --count`.

I will close the issue, feel free to reopen if I'm wrong.

[2017-07-03 10:46] #78 closed

[2017-07-03 11:50] ajnavarro commented on #73
@bzz could you reproduce the error again?

[2017-07-03 11:59] ajnavarro commented on #58
Using master branch I'm able to process correctly the same repository twice:
[code]
@bzz feel free to open this issue again if there is something wrong.

[2017-07-03 11:59] #58 closed

[2017-07-03 12:27] alcortesm opened #83 "`make test` creates a `verdor` dir but `make packages` doesn't"
As a developer of borges I find confusing that `make packages` does not leave a `vendor` directory in my project but `make test` does.

Maybe we can document why this is happening.

[2017-07-03 12:33] ajnavarro commented on #52
@alcortesm @bzz I'm not able to reproduce this bug anymore. Feel free to reopen this issue if you found again this bug.

[2017-07-03 12:55] ajnavarro commented on #83
This should be an issue in CI repository. Anyways, I improve the build instructions with all the needed steps: https://github.com/src-d/borges/pull/84

[2017-07-03 13:56] alcortesm opened #85 "TestReferenceUpdate of the TestArchiver suite fails randomly"
Here are two consecutive executions of the same test, with different results.

[code]

[2017-07-03 14:13] ajnavarro opened #86 "Use Not_found status in Repository model."
Right now we are throwing an error and sending the repository to the dead letter queue instead of mark it as Not_found:

[code]

We should update the Repository status to not_found, print a warning instead of an error, and do not send the repository to the dead letter queue.

[2017-07-03 14:18] alcortesm commented on #85
According to @ajnavarro this has been happening for some time now, so the bug can have been introduced a while back.

[2017-07-03 14:22] alcortesm commented on #83
Please note that the ci repo does not define `make test`, it is in borges where `make test` is defined, that's why I opened this here.

[2017-07-03 14:30] ajnavarro commented on #83
It was a temporal fix for glide support. Now ci repository supports it. See: https://github.com/src-d/borges/pull/77/files#diff-b67911656ef5d18c4ae36cb6741b7965L40

[2017-07-03 14:35] alcortesm commented on #52
I am closing this, see @ajnavarro comment above.

[2017-07-03 14:35] #52 closed

[2017-07-03 14:54] alcortesm commented on #83
Nice.

Do you know if merging https://github.com/src-d/borges/pull/77 will fix the issue explained here (the `vendor` directory being created when running `make test` but not when running `make packages`)?

If you don't know, let's wait until it is merged and I will test it manually.

[2017-07-04 07:01] ajnavarro commented on #72
Could be related: https://github.com/src-d/go-git/issues/460

[2017-07-04 07:30] bzz commented on #78
Thanks for catching this! I believe the confusion is from `sort -u` above, with already filters out all dupes.

✅  `sort top200repos.txt | uniq | wc -l` 178
✅  `sort top200repos.txt | uniq | wc -l` 1814

[2017-07-04 07:35] bzz commented on #72
On 2000 repos there are 12 more cases of this error.

[2017-07-04 07:39] bzz opened #88 "Consumer: panic: runtime error: index out of range"
On https://github.com/snowballstem/snowball-website Borges panics, most probably due to go-git

[code]

[2017-07-04 07:41] bzz commented on #86
Out of 2000 repos we have 38 cases like this, so 👍 !

[2017-07-04 08:02] smola commented on #83
@alcortesm No, I don't think it fixes the problem. In fact, it is now required to run `make dependencies` explicit before both of them.

[2017-07-04 08:03] smola commented on #83
Note that this kind of issue should be solved now in https://github.com/src-d/ci

[2017-07-04 08:03] bzz commented on #88
Tried to reproduce
 -  `git.PlainClone` works well
 -  it seems to be failing on [Archiver.pushChangesToRootedRepositories()](https://github.com/src-d/borges/blob/6bafcd0325fcee5d646e8454f6018f5491229c3b/archiver.go#L259)

[2017-07-04 08:11] #63 closed

[2017-07-04 08:29] alcortesm commented on #83
ok, I'm moving this issue there, thanks!

[2017-07-04 08:29] #83 closed

[2017-07-04 10:42] bzz commented on #88
Could not reproduce this locally on Borges consumer/producer \w this single repo :/

After a conversation with @smola  - it seems that this might be quite know to @ajnavarro  🐛 in `go-git`

[2017-07-04 13:22] bzz commented on #88
I tried to add a workaround for this in Borges, that would recover from such panics and just skip those repos.

But according to https://github.com/golang/go/wiki/PanicAndRecover#panic it seems not to be possible, due to panic originating in go-git goroutine :/

[2017-07-04 13:52] bzz commented on #88
Reproducible short example [top2000-continue408.logs.txt](https://github.com/src-d/borges/files/1122267/top2000-continue408.logs.txt)

[2017-07-04 16:53] bzz commented on #88
To be able to proceed, I ~worked~ hacked around around it in https://github.com/src-d/go-git/blob/master/storage/filesystem/internal/dotgit/writers.go#L56 with

[code]

[2017-07-05 07:35] ajnavarro commented on #73
@bzz ping

[2017-07-05 09:08] bzz commented on #73
Sorry, this was my local env built \wo glide and latest fixes.

This does not happen any more!

[2017-07-05 09:08] #73 closed

[2017-07-05 11:33] ajnavarro opened #89 "Codecov appears to be broken after make the repository public"
After make public this repository Codecov appears to not be able to compare coverage using master branch:

![codecov-broken](https://user-images.githubusercontent.com/1196465/27862604-4df4c252-6186-11e7-8465-b1a86b2547fe.png)

Maybe we will need to re-add repository to codecov.

[2017-07-05 13:09] alcortesm commented on #89
At least for my forks, it was not enough to make them public to make git work: I had to delete them and create them again by forking again from the upstream repo.

This might be the same problem but with codecov.

[2017-07-06 08:26] smola commented on #89
It's trying to compare against a commit in master that failed in Travis, so no coverage was uploaded.
This is expected behavior.

[2017-07-06 08:26] #89 closed

[2017-07-06 09:36] smola commented on #88
This might be produced by go-git writing to the same temp packfile on multiple repositories. This would be fixed by https://github.com/src-d/go-billy-siva/pull/12 once it's applied to `src-d/core-retrieval`,

[2017-07-06 10:07] ajnavarro commented on #71
Actually working:

`borges - 1.0.0 (build 07-06-2017_12_04_44)`

Steps to reproduce:

- `rm Makefile.main; rm -rf .ci`
- `make dependencies`
- `CI=true TRAVIS_TAG=1.0.0 TRAVIS_BUILD_DIR=~/work/src/github.com/src-d/borges make packages`
- `./build/borges_linux_amd64/borges version`

[2017-07-06 10:07] #71 closed

[2017-07-06 15:12] #72 closed

[2017-07-06 15:24] #82 closed

[2017-07-07 11:30] ajnavarro commented on #85
fixed: https://github.com/src-d/borges/pull/94

[2017-07-07 11:30] #85 closed

[2017-07-11 12:06] ajnavarro opened #101 "Borges GC process implementation"
- Add a process that applies garbage collection in siva files to reduce his size.
- This process should remove siva files without references too.

[2017-07-11 12:07] ajnavarro opened #102 "Add any kind of references in our rooted repository."
- Add HEADS.
- Add pull requests branches.

[2017-07-11 14:17] ajnavarro commented on #88
I am not able to reproduce this issue using Borges master version. Closing it. Feel free to open if the error appears again.

[2017-07-11 14:17] #88 closed

[2017-07-11 14:19] ajnavarro commented on #44
@smola at the end, do we want to do this? I think we decided to do not add a timeout.

[2017-07-13 07:08] #86 closed

[2017-07-14 15:29] smola commented on #102
This is already done for `refs/*` (includes tags and PRs).

[2017-07-18 07:26] ajnavarro commented on #102
Fixed here: https://github.com/src-d/borges/pull/104

[2017-07-18 07:26] #102 closed

[2017-07-19 11:21] smola opened #112 "If borges crashes, jobs are not sent to the dead letter queue"
See https://github.com/src-d/borges/issues/26
When borges finds an error and rejects a job (ack + err) it sends the job to the dead letter queue. However, this is not being done when borges crashes.

[2017-07-20 10:41] smola opened #113 "Avoid panic on invalid deltas"
Avoid panic on invalid deltas.
This happens on repositories such as https://github.com/melizalab/plugin-GUI.git
Update go-git version to get this fix: https://github.com/src-d/go-git/pull/492

[2017-07-20 10:43] smola opened #114 "add HDFS support"
Depends on: https://github.com/src-d/core-retrieval/issues/26

[2017-07-20 10:51] smola opened #115 "Improve performance of push phase"
go-git:
* [x] Reuse index https://github.com/src-d/go-git/pull/510
* [x] Reuse cache between different packfile decoder instances https://github.com/src-d/go-git/pull/514
* [x] Reuse deltas when creating packfiles https://github.com/src-d/go-git/pull/515
* [x] revlist: ignore all objects reachable from ignored objects https://github.com/src-d/go-git/pull/516

borges:
* [x] update go-git https://gi

[2017-07-20 10:53] smola opened #116 "Ensure HEAD is stored for every repository"

[2017-07-20 15:57] smola opened #117 "mark one repository as main in for each root group"
Initial heuristic will be:
* Check is_fork (when it is available) https://github.com/src-d/rovers/issues/144
* The one with more PRs.
* The one with more commits.
* If there is a tie on everything, pick the lowest ULID.

This will be implemented in borges:
* add is_fork to the database https://github.com/src-d/borges/pull/122
* mark is_fork in remotes in rooted repository

[2017-07-21 08:24] #113 closed

[2017-07-21 09:26] bzz commented on #117
Heuristics looks good, quick question though - where would this information be stored?

Asking as it seems to be needed as part of the schema in https://github.com/src-d/berserker/issues/20#issue-244343298

In my current understanding this implies that it should be part of a self-contained rooted repository inside the `.siva` file, in order to be able to match the design goal of avoiding an extern

[2017-07-24 09:04] smola commented on #74
Depends on https://github.com/src-d/go-git/pull/501 if we want to store all endpoints.

[2017-07-24 10:14] smola opened #119 "tests: if postgres is not running, tests segfault"
With no Postgres running, there is a test that segfauls.
Tests or suites should check if postgres is running and fail earlier with a proper error.

[code]

[2017-07-24 10:17] smola commented on #74
PR: https://github.com/src-d/borges/pull/120

[2017-07-24 14:02] ajnavarro commented on #114
Implemented on: https://github.com/src-d/core-retrieval/pull/27

[2017-07-25 13:46] smola commented on #117
Since this heuristic is subject to lots of changes, it would be better to solve it at read time. So we should implement this now in `src-d/berkser`.

[2017-07-25 14:19] bzz commented on #117
So, this issue on Borges becomes about just storing `is_fork` information in RootedRepo config, per each original repo ULID.

Is there a particular format we have in mind?

AFAIK it's KV with composite key and ability to set/unset key and value by regex

`git config <section>.<sub-section>.<keyname> value`

[2017-07-26 12:54] mcarmonaa commented on #116
https://github.com/src-d/borges/pull/123

[2017-07-27 10:24] #116 closed

[2017-07-27 13:37] ajnavarro commented on #114
Fixed by: https://github.com/src-d/borges/pull/125

[2017-07-27 13:37] #114 closed

[2017-08-01 10:56] smola commented on #44
@ajnavarro Now we can do this with https://github.com/src-d/go-git/issues/483

We just have to decide what kind of cancellation policy do we want and add it.

[2017-08-01 11:03] smola commented on #29
Duplicated of https://github.com/src-d/borges/issues/115

[2017-08-01 11:03] #29 closed

[2017-08-01 11:03] bzz opened #128 "Make Borges open source: add a LICENSE"
As far as I understand our [src-d licensing guild](https://github.com/src-d/guide/blob/master/engineering/licensing.md#licence) Borges should be covered by GPLv3 as it's an application and not intended to be consumed as source dependency.

[2017-08-01 11:07] smola commented on #79
@bzz They are actually forks even if they are not marked as such in GitHub. They are the same repository exported from Google Code.

[2017-08-01 11:10] smola commented on #80
@bzz Unless you have access to the database  used for this and can retrieve the repository URL, we should close this.

[2017-08-01 11:17] smola commented on #128
@bzz Correct.

[2017-08-01 12:35] ajnavarro commented on #79
Result fetching these repositories with the last borges version:
[code]

[2017-08-01 12:35] #79 closed

[2017-08-01 12:37] ajnavarro commented on #79
Also, the content of the biggest generated siva file:
[code]

[2017-08-01 12:40] ajnavarro opened #130 "Add logic to select the endpoint to start repository fetching"
Now the method that should be in charge of choose the better endpoint to start fetching is just getting the first one if any. We should change this logic to fetch the better one, depending of some logic.

[2017-08-01 13:27] ajnavarro commented on #115
https://github.com/src-d/borges/pull/126

this go-git has a lot of new performance improvements. Should close this issue @smola ?

[2017-08-01 13:29] ajnavarro commented on #76
@bzz with the lock functionality into the new version this should not happen. Can we close this issue @bzz ?

[2017-08-01 13:39] bzz commented on #76
@ajnavarro sounds good! Let's re-open in case it anything like that happens again

[2017-08-01 13:39] #76 closed

[2017-08-01 16:24] #128 closed

[2017-08-01 16:31] #115 closed

[2017-08-02 09:30] #74 closed

[2017-08-02 11:11] #117 closed

[2017-08-02 11:56] smola opened #137 "README: document configuration"
Command line arguments and environment variables required to run borges should be documented.

SQL schema is outdated, update or remove it.

[2017-08-02 13:32] #130 closed

[2017-08-03 14:57] ajnavarro commented on #112
Related with this issue:
- Now we can cancel Borges processes using the go-git context.
- In Rabbit, if a job is not Ack'ed and the connection is lost, this [job is automatically re-queued](https://www.rabbitmq.com/tutorials/tutorial-two-python.html):

    sending an ack, RabbitMQ will understand that a message wasn't processed fully and will re-queue it. If
    there are other consumers online at

[2017-08-04 08:28] ajnavarro commented on #112
As I can see, is not possible to know if a message comes back to the queue due a connection error, so we cannot do any logic in rabbit side if a consumer dies.

[2017-08-08 09:42] mcarmonaa commented on #137
PR https://github.com/src-d/borges/pull/139 solves it.

[2017-08-08 12:24] erizocosmico commented on #112
Taking this (can't assign myself right now)

[2017-08-08 12:27] erizocosmico commented on #112
As discussed IRL with @ajnavarro, the cleanest solution for now seems to be the following:

- Every time a job is taken from the queue, write in the database a field with the timestamp when it was taken.
- When a worker takes a job, checks if said timestamp is prior to the updated_at field. If it's not, it rejects it and sends it to the dead letter queue and moves onto the next job.

While this re

[2017-08-08 15:46] erizocosmico commented on #112
PR: #141

[2017-08-09 08:33] erizocosmico commented on #119
Fixed by https://github.com/src-d/borges/issues/119

[2017-08-09 12:54] erizocosmico commented on #75
I'm taking a look at this

[2017-08-09 13:35] erizocosmico commented on #75
Some preliminary analysis:

It takes consistently ~8min to clone the repo (about 1 or 2 with CLI git) in borges and then when it takes forever is pushing to the rooted repos:

[code]

I did a pprof (or 1min) of borges during the push phase and the top 10 are:

[code]

So most of the time spent there is in calculating hashes and accessing map (the index created in `initMatch` at `gopkg.in/src-d/go-

[2017-08-09 14:59] #112 closed

[2017-08-09 15:16] #119 closed

[2017-08-10 05:42] mcarmonaa commented on #44
Timeout added in PR https://github.com/src-d/borges/pull/144

[2017-08-10 08:28] #21 closed

[2017-08-10 08:30] ajnavarro commented on #44
Merged.

[2017-08-10 08:30] #44 closed

[2017-08-11 08:22] erizocosmico opened #149 "Some repositories exceeded the deadline"
After less than one day running, there are a few repositories that exceeded the deadline (which is 10h), we should investigate the cause of that.

The repositories are the following on the staging cluster:

https://git.openstack.org/openstack/fuel-plugin-contrail
* root=ac5fe3832f3e0544aaaab11685b9bd4c3ff75095
* root=e4e4a9ab3eba7b0ef8ccc2b0dca57ada3313c6e8

https://git.openstack.org/openstack/gla

[2017-08-11 08:48] erizocosmico opened #150 "Error archiving some of the roots in multiple repositories"
[code]

We should improve the error reporting for that part because right now we don't know why archiving these roots failed.

[2017-08-11 08:51] erizocosmico commented on #150
These are the same repositories as #149, so the reason of the unability to archive some roots must be the deadline. Closing.

[2017-08-11 08:51] #150 closed

[2017-08-11 13:00] erizocosmico commented on #149
There are a lot more right now that we've lowered the timeout to 1h. These and `concurrent map access` panics seem to be the only issues thus far.

I'm investigating locally the reason why they take so long, will report when I have more info.

[2017-08-21 07:49] #137 closed

[2017-08-21 07:50] #80 closed

[2017-08-23 08:55] erizocosmico commented on #149
Can be reproduced with this:

[code]

[2017-08-23 10:30] erizocosmico commented on #149
I'll keep here all my findings about the performance issues.

For now there seem to be two fronts:

- Push time

Still no idea why. Needs intensive profiling but will take some time, as this process is really slow.

- Clone time

Analysis done thus far suggests that there are two possible things that cause this: either a lot of objects or a lot of references. Take this with a pinch of salt, though

[2017-08-29 09:33] erizocosmico commented on #149
Let's wait til [this](https://github.com/src-d/borges/pull/152) is merged and deployed, which will hopefully solve all these issues.

[2017-08-29 09:34] erizocosmico commented on #75
Can you try again when [this](https://github.com/src-d/borges/pull/152) is merged? This should hopefully put and end to these problems.

[2017-08-30 12:40] ajnavarro opened #154 "Benchmark comparing go-git and git"
Create a benchmark to compare common git operations using go-git and git.

[2017-08-30 15:23] bzz opened #155 "Fail to unpack siva file from HDFS"
While preparing LanguageDataser, after processing 20k repositories 1 .siva file that cannot be unpacked has been found in HDFS.

**Steps to reproduce:**
[code]

**Expected result:**
 - exit code 0, `tmp-go` dir created

**Actual result:**
[code]

[2017-08-30 16:21] bzz commented on #155
As [discussed elsewhere](https://src-d.slack.com/files/miguel/F6VUXNRNY/-.go)
<img width="529" alt="screen shot 2017-08-30 at 6 20 20 pm" src="https://user-images.githubusercontent.com/5582506/29883243-fe07cb94-8daf-11e7-8d7e-32d7c0430ead.png">

[2017-08-31 08:13] ajnavarro opened #156 "Profile Borges node to discover bottlenecks"
Plan:

 - [x] Profile Borges consumer in local
     - Compare to [previous profiles](https://gist.github.com/bzz/f7adb8abd32502998c3427179742c468#performance-of-data-collection-pipeline)
 - [x] Profile Borges consumer on cluster

[2017-08-31 08:55] ajnavarro commented on #154
- Clone with "refs/*:refs/*"
- Push
- Rev-list
- Walk over commit history

- Repositories like: kernel, git, rails, etc.

[2017-09-01 11:48] erizocosmico commented on #154
Results of the benchmark:

[code]

The repos used where git itself, go-git, rails and angular.

**Noticeable things:**

- Most of the time, go-git is faster cloning go-git than libgit2. But as the repo grows in size, libgit2 stands out.
- go-git does revlist of rails faster than libgit2, but not in any of the other cases.
- cloning with all references just takes a little less in libgit2 than the r

[2017-09-01 15:52] bzz commented on #156
After local profiling, there are 2 main slow points:

 - traversing all commits to pick a RootCommit for each reference, after a clone
![borges-local-pprof002-5min](https://user-images.githubusercontent.com/5582506/29977635-59faf5cc-8f3e-11e7-841b-345c1b848b83.png)

 - pushing reference to the `.tmp` siva file in local FS
![borges-profile-push](https://user-images.githubusercontent.com/5582506/299

[2017-09-04 09:26] erizocosmico commented on #156
Fix for the first bottleneck: https://github.com/src-d/borges/pull/157

[2017-09-04 10:09] erizocosmico commented on #154
Well, after the changes I'm about to send to go-git, that benchmark might not be true anymore :sunglasses:

[code]

[2017-09-04 10:34] erizocosmico commented on #156
Fix for the i/o bottleneck: https://github.com/src-d/go-git/pull/575

[2017-09-04 10:42] bzz commented on #156
For remote profiling, 2 next k8s descriptors were used:

[code]

<details>

**borges-consumer-profiler-service.yml**

[code]

**borges-consumer-profiler-service.yml**

[code]

</ details>

**60s profile from the staging Cluster**

![cluster-profile001-60s](https://user-images.githubusercontent.com/5582506/30023122-8904f976-916e-11e7-81db-5faae8306c05.png)

[2017-09-07 08:06] bzz commented on #156
Latest 30 min profile of the consumer

[code]

![borges-consumer-profile-30m](https://user-images.githubusercontent.com/5582506/30152659-1f39c3b2-93b4-11e7-93dd-048c70651d8d.png)

[borges-consumer-profile-30m.svg.zip](https://github.com/src-d/borges/files/1283867/borges-consumer-profile-30m.svg.zip)

[2017-09-07 10:09] erizocosmico commented on #156
Fix for the push bottlenecks: https://github.com/src-d/go-git/pull/582

[2017-09-08 07:46] eiso commented on #154
@mcuadros I couldn't find a MAINTAINERS file in the repo, so I am assuming you still are. If we could add the benchmark to the repo I believe it would be very useful for people evaluating go-git as an option.

[2017-09-12 12:14] #156 closed

[2017-09-19 17:29] bzz commented on #75
@erizocosmico do you think this is still reproducible on latest borges/go-git?

[2017-09-19 17:31] bzz commented on #155
Closing as few issues \w HDFS storage has been fixed since reporting.
Let's re-open, in case any more cases like are found.

[2017-09-19 17:31] #155 closed

[2017-09-19 17:32] bzz commented on #149
@erizocosmico do you think this is still reproducible with latest borges/go-git ?

[2017-09-20 09:26] erizocosmico commented on #149
Hard to tell without processing all repos again, the set we're processing is not representative to know if it's fixed or not. Anyway, it should be much faster and we've actually processed very big repositories. But I can't say for sure. I'd leave it open until we're 100 % certain the problem's gone.

[2017-09-20 09:32] erizocosmico commented on #75
We'd have to try, can't tell for sure without trying with these specific repos.

[2017-09-20 12:09] erizocosmico opened #169 "Out of Memory error processing repo because of lots of roots"
Memory consumption keeps growing and growing until the machine runs out of it and the process crashes.
One notable thing is that this repo has more than 8k roots, so maybe we're not freeing some resources and are stored until the very end of the process.

Repo in question: https://github.com/android/platform_frameworks_base

[2017-09-20 12:11] erizocosmico opened #170 "siva index read failed: invalid argument to seek"
Processing this repo (https://github.com/EFForg/https-everywhere) causes the following error:

[code]

[2017-09-28 19:04] eiso opened #172 "DOC: locally running it with rovers"
See: https://github.com/src-d/rovers/issues/166

[code]

[2017-10-18 16:14] #172 closed

[2017-10-25 15:19] ajnavarro opened #174 "Create a borges-lite command"
To make the task of make rooted repositories on siva files more easy, we need a new borges command that would be able to get a list of urls from a file, fetch them and save to rooted repositories, without dependencies of rabbit or postgres.

[2017-10-26 08:59] erizocosmico commented on #174
- [ ] Make borges work without a database if needed
- [ ] Make borges work without a queue if needed
- [ ] Make command to convert from git repositories to siva files

[2017-10-26 09:09] erizocosmico commented on #174
### Convert command

Since what we want is a conversion command, I think the interface should be something like this:

[code]

With `--dir` you treat each top-level folder in that folder as a repository and process it.
With `--file` you treat each line as a path to a repository and process it.

The rationale behind not using `borges producer` and `borges consumer` is for clarity towards the user.

[2017-10-26 09:15] ajnavarro commented on #174
We can skip the --source option, because always is implied, depending if you are using --file or --dir, right?

[2017-10-26 09:16] erizocosmico commented on #174
@ajnavarro yep, you're right. Will edit the snippet

[2017-10-26 09:17] ajnavarro commented on #174
also, --file should accept any kind of url to process, file://, http://, git and so on. we can clone any of them, so I think is worth it

[2017-10-26 09:17] erizocosmico commented on #174
Yep, URL should accept any kind of URL

[2017-10-26 09:20] ajnavarro commented on #174
Should be:
With --file you treat each line as a *URL* to a repository and process it.

[2017-10-26 09:21] erizocosmico commented on #174
Updated @ajnavarro

[2017-10-26 09:22] ajnavarro commented on #174
LGTM

[2017-10-26 09:25] bzz commented on #174
👍 for having separate command.

`convert` is quite generic, may be we could try `pack` as it's going to pack things in .siva, or something like that.

Also just a thought, but `--file` kind of covers the case of `--dir`, if the dirs are `ls`ed to some file first.. so might be avoided at first impl.

I.e AFAIK ML team does not use single dir for all 30k projects, but prefix each with some common ha

[2017-10-26 09:26] mcarmonaa commented on #174
Is it convert the right subcommand? I mean, borges main work is aggregate repos in rooted repos and pack them in siva files, Can it generate or convert the output to other formats?

Maybe just leave it as `borges --dir` or `borges --file`is enough.

[2017-10-26 09:33] erizocosmico commented on #174
Ok, +1 for leaving `--dir` out for now then. Which makes also `--file` disappear and can become just an argument.

+1 for renaming it to `pack`. What do you guys think @ajnavarro @mcarmonaa?

[2017-10-26 09:49] ajnavarro commented on #174
Yes, just in case we want to add more params in the future, to preserve the backwards compatibility.

[2017-10-30 15:30] ajnavarro opened #176 "Make possible fetch authenticated repositories."
Add a configuration file to set some credentials by domain, and be able to use them to fetch the repository.

[2017-10-31 15:35] #174 closed

[2017-10-31 17:10] bzz opened #178 "Producer: panic - concurrent map read and map write"
Happened while fetching 30k repos

[code]

More detailed logs
[borges-bug-panic-30k.txt](https://github.com/src-d/borges/files/1431649/borges-bug-panic-30k.txt)

[2017-11-07 14:29] bzz commented on #169
This could be the case why `borges producer` gets killed every 2h on core OS of science-3 :/
It could not collect more then 5k repos in the row.

[2017-11-07 14:32] erizocosmico commented on #169
Not likely, this is a very specific case which happens with a very very strange git usage. You could verify with `git log --max-parents=0` (i think it was that comment) on the offending repositories, but I don't believe it's that case.

[2017-11-07 14:42] bzz commented on #169
I see. Just saying that containers get stopped with SIGKILL every 2h, which could be done by OS in case process takes to much memory, as nothing suspicious present in any logs.

[2017-11-07 14:48] erizocosmico commented on #169
Yep, but that might be a completely separate issue.

[2017-11-08 09:10] erizocosmico commented on #178
This should fix the issue: https://github.com/src-d/go-git/pull/639

[2017-11-13 09:58] ajnavarro opened #180 "Add bucketing on root-repositories folder"

[2017-11-13 10:04] ajnavarro opened #181 "Change go-git protocol implementation to push to siva files"
Instead of register one protocol per push, use `siva://path/to/siva/file.siva` to push to a specific siva file.

[2017-11-13 11:15] #154 closed

[2017-11-13 15:17] erizocosmico commented on #181
After a look at it, it's not necessary for the URL to be `siva://[path to siva file]`, because this step is after opening the file using the RootedTransactioner, so it does not matter to pass it the file or not. I mean, the `storer.Storer` is already available, the only thing missing is making it available in the client for the duration of the `WithInProcRepository` callback.

Unless we want to ch

[2017-11-13 17:24] jfontan commented on #180
Downloaded the list of 1048576 siva files to check how many files will go into each bucket.

* 2 characters:
  * max: 4251
  * median: 4100
* 4 characters:
  * max: 36
  * median: 16

HDFS by default allows 1048576 files per directory. Either using 2 or 4 characters per bucket.

[2017-11-13 17:42] erizocosmico commented on #180
If both are ok, imho it's better to use 2, less `ls`s in case of a full list :+1:

[2017-11-14 08:10] ajnavarro commented on #180
yep, 2 LGTM

[2017-11-14 11:44] #181 closed

[2017-11-14 11:45] erizocosmico commented on #178
Fixed in v0.8.1.

[2017-11-14 11:45] #178 closed

[2017-11-14 23:23] eiso opened #185 "borges pack hangs potentially on larger repositories"
If I git clone each repository in this [list](https://gist.githubusercontent.com/eiso/e5ee71d56456be7949b9ea1838f8d8a7/raw/16f4b6426abaa07d0ae9933bf2e5fcab393632b4/repos.txt
) it takes me several minutes per repository.  When I pass this file along to borges: `borges pack --file=repos.txt --to=repositories` it continuous to run using full CPU resources but never finishes.

[code]
Monitoring networ

[2017-11-14 23:34] erizocosmico commented on #185
Can you post the output with `--loglevel=debug`?
On Wed, 15 Nov 2017 at 00:23, Eiso Kant <notifications@github.com<mailto:notifications@github.com>> wrote:

If I git clone each repository in this list<https://gist.githubusercontent.com/eiso/e5ee71d56456be7949b9ea1838f8d8a7/raw/16f4b6426abaa07d0ae9933bf2e5fcab393632b4/repos.txt> it takes me several minutes per repository. When I pass this file alon

[2017-11-14 23:41] eiso commented on #185
[code]

[2017-11-15 00:27] erizocosmico commented on #185
I just tried with numpy and it took 25 mins in my machine. I wouldn't say it's hanging, just being suuuuper slow. It was using a very small amount of CPU while cloning, surprisingly. 16 of those 25 mins were spent cloning. In conclusion, I'd say this falls under the already known performance issues of both borges and go-git.

One notable thing is that when borges clones a repository, clones it in

[2017-11-15 00:30] eiso commented on #185
Thank you for this @erizocosmico! I would have never guessed it would take that much time to pack with siva.

[2017-11-15 00:37] erizocosmico commented on #185
It's not actually the packing that it takes a lot, it's the push of changes to the rooted repos (8 mins to push the big one, like 2s for the others). Packing with siva it's not actually slow in comparison to the other operations.

[2017-11-21 17:17] #180 closed

[2017-11-23 09:51] ajnavarro opened #186 "fatal: morestack on g0"
Error on borges consumer:

[code]

It appears to be that we are creating go routines without finish the previous ones:

https://golang.org/src/runtime/asm_amd64.s Line 367.

[2017-11-24 10:55] jfontan commented on #186
Using HTTP to download repositories it spits the following messagest:

[code]

Also the number of goroutines is growing almost constantly.

[2017-11-30 11:54] jfontan opened #190 "Errors in borges deployment"
Deployed borges containers experience the following problems:

- [x] `local_repos` are not deleted after a repository is downloaded #192
- [x] archive dirs are not deleted after creating siva files https://github.com/src-d/core-retrieval/pull/46
- [x] Temporary disk full (sometimes with data instead of inodes) #191
- [x] There are siva files corrupted that should be deleted and its repositories en

[2017-11-30 15:13] rporres opened #191 "Cleanup CONFIG_TEMP_DIR on startup"
To make sure that we don't collect garbage there from multiple runs of the daemon.

We've experimented this on a kubernetes cluster where borges is restarted if it forcibly exits.

[2017-12-01 14:31] jfontan commented on #191
This is being addressed in https://github.com/src-d/core-retrieval/pull/45

[2017-12-05 09:46] jfontan commented on #191
Fix merged. Will be included in the next release.

[2017-12-05 09:46] #191 closed

[2017-12-11 10:08] jfontan commented on #185
I've found also another repository with a bunch of RootedRepos (265) that times out after 10 hours:

[code]

An excerpt of the log file with the rooted repos list:

[code]

[2017-12-11 13:47] erizocosmico commented on #185
Yup, that's a known issue

[2017-12-12 11:12] jfontan commented on #190
Runtime errors have not happened again after the fixes for temporary directories were applied. I'll open a new issue in case they are seen again.

[2017-12-12 11:14] jfontan commented on #190
Siva files are quarantined in another directory and database is being updated.

[2017-12-12 16:11] #190 closed

[2017-12-20 11:28] jfontan opened #194 "Borges is not able to reconnect to queue"
If the queue (RabbitMQ) connection is closed borges does not reconnect to it. Check https://github.com/src-d/framework methods of recovery on error.

[2017-12-21 08:54] ajnavarro commented on #186
This bug is happening again in some cases.

[2017-12-21 08:56] ajnavarro commented on #170
@jfontan This could be fixed by https://github.com/src-d/core-retrieval/pull/44 ?

[2017-12-21 10:01] jfontan commented on #170
That specific error usually happens when the siva file is corrupted. Can you execute `siva list e3aec08d7b5374acd6f7664cfc9f0f739a5f9dec.siva` and check if it works?

[2017-12-21 10:02] jfontan commented on #170
And yes @ajnavarro. If the siva file is corrupted most probably that pull request fixes it.

[2017-12-21 11:07] ajnavarro commented on #194
Related: https://github.com/src-d/borges/issues/30

[2018-01-04 19:30] jfontan opened #196 "Send log info not only to STDOUT"
STDERR is too ephemeral and logs can be lost if not properly saved. The should be more log targets.

[2018-01-04 19:33] jfontan opened #197 "Add rooted repos index to database"
Rooted repos are now kept in a json blob inside the database. The should be a field where the rooted repos are kept for searching.

One of the use cases is setting to error all the repos that have a common rooted repo.

[2018-01-04 19:33] jfontan commented on #196
This will be done at another level.

[2018-01-04 19:33] #196 closed

[2018-01-09 15:04] erizocosmico opened #200 "push latest tag to quay.io"
so `docker pull quay.io/srcd/borges` works

[2018-01-10 09:27] #200 closed

[2018-01-17 10:48] jfontan commented on #185
With the latest changes the execution of borges pack with the list provided by @eiso took me 12 minutes and consumed 6GiB of ram.

I believe we can close this issue. Improving speed and reducing memory consumption is a continuous goal.

[2018-01-17 14:20] jfontan commented on #75
Times have decreased considerably:

* upsilon: 2 minutes
* Bismuth: 12 minutes

The changes will be live in the next borges version.

[2018-01-17 14:20] #75 closed

[2018-01-17 16:50] eiso commented on #185
That is awesome!!! I'll be closing this issue now.

[2018-01-17 16:50] #185 closed

[2018-01-18 10:33] jfontan commented on #149
`borges pack` took less than 3 hours to process a list with those repos.

[code]

[2018-01-18 10:33] #149 closed

[2018-01-19 12:48] jfontan commented on #169
With latest release it took 9 hours and consumed 19GiB of ram at most. These numbers can be improved but I believe the repo can now be processed in a machine with enough RAM.

[2018-01-19 13:09] erizocosmico commented on #169
Closing, then

[2018-01-19 13:09] #169 closed

[2018-01-19 15:31] jfontan opened #205 "Add a configuration option with the path to store .siva.copy files"
`.siva.copy` files are generated in the same directory as the original `.siva` and then renamed. When using directly the rooted repo where these are created it can happen that these temporary files are processed. To make sure that only correct siva files are stored in those folders we should specify another folder outside that tree.

[2018-01-23 12:11] jfontan commented on #170
New siva files shouldn't be broken anymore. There still exist some that are broken and can give that error. The best thing we can do is deleting those siva files and setting their child repositories to error so they can be downloaded again.

[2018-01-23 14:51] #170 closed

[2018-01-24 09:50] #205 closed

[2018-01-24 10:33] erizocosmico commented on #197
### Current status

Right now, every `Repository` has the references in a slice of `*Reference`, which kallax turns into a JSON. That's not very easy to query, though.

### Proposed changes

Instead of this, I think we should promote the `Reference` entity to its own table. Making it a full-fledged entity and adding the `Repository *Repository` field for accessing the repository. There is no need

[2018-01-24 10:36] ajnavarro commented on #197
Yes

[2018-01-24 10:40] jfontan commented on #197
`Init` is a root commit hash, yes.

Borges process was running for several months with the delta bug. I'm not sure if adding logic to detect these siva files and repacking them is worth the effort.

I do believe that detecting broken siva files is worth and having the changes proposed (references table) will make easier to invalidate repositories that depend on it.

[2018-01-24 10:42] erizocosmico commented on #197
Ok, then I guess we can just erase and start over #yolo

[2018-01-24 15:13] smacker opened #209 "Improve --republish-buried"
Currently, it reads everything from `borges.buriedQueue` in memory and only then start publishing.
With 116959 messages in `borges.buriedQueue` it takes ages to return them.

[2018-01-24 15:33] #194 closed

[2018-01-24 22:41] smacker commented on #209
run locally for 95698 messages. And it was so slow that I gave up.
Then I tried with 1000 messages
[code]
(I pressed maybe after a second after it finished)

So here is 3 bug:
1) slow everything in once instead of 1 by 1
2) error obtaining next job
3)  very very nasty. `RepublishBuried` isn't atomic. So if I run command, don't wait it to finish and stop by `ctrl-c`, some messages get lost. That's

[2018-01-25 09:31] ajnavarro commented on #209
`RepublishBuried` must be atomic *per message*. Can you check if you already have messages in buried queue? the number should be 100000-95698=4302

[2018-01-25 09:43] smacker commented on #209
Yes. It's not atomic at all. Messages just get lost. It gets better with my PR. In the worst case, it will lose 1 message now.
I'm going to try to improve it further later.

[2018-01-25 16:09] erizocosmico commented on #197
Closing, as this is merged, but not released or deployed since we still have to gather some metrics to evaluate what we do. Will open an issue later for that when we have the data.

[2018-01-25 16:09] #197 closed

[2018-01-26 10:24] ajnavarro opened #211 "Generated container must include git inside"
go-git uses for file protocol git as a server: https://github.com/src-d/go-git/blob/97fb5e93083fbe4ea02078312ae2cbca3b145ab1/plumbing/transport/file/client.go

To avoid the error: `exec: \"git\": executable file not found in $PATH` we must install git on the container.

[2018-01-26 10:54] ajnavarro opened #213 "Proposal: Add private status"
Some repositories eventually throw `failed: authentication required` error. Maybe we should mark that repositories with a new status like `private`

[2018-01-26 14:43] #211 closed

[2018-01-29 09:51] bzz opened #215 "borges pack failed: fatal error - stack overflow"
While running latest `borges pack`

[code]

Got

[code]

Full log [borges-pack-stack-trace.txt](https://github.com/src-d/borges/files/1672995/borges-pack-stack-trace.txt).

Is reproducible on consecutive runs.

[2018-01-29 10:19] ajnavarro commented on #215
Should be fixed on next borges version: https://github.com/src-d/go-git/pull/731

[2018-01-29 15:07] mcarmonaa opened #216 "Metrics and estimation for version 0.11.x"
- Information placed in this [spreadsheet](https://drive.google.com/open?id=10AHP6-mzHpBu25hFqX1jgC3LLXrSCf0rOaLUkHZ6Mkg)

- Script to ingest and retrieve the information [here](https://gist.github.com/mcarmonaa/3b5230ad53e76b950752ce035d9643fa)

- Script to process hdfs ls info [here](https://gist.github.com/mcarmonaa/86fde57544ebfa1c250142facc53abca)

[2018-01-30 10:41] ajnavarro opened #217 "Reconnect to HDFS if it fails"
Add a way to reconnect to HDFS if it fails. Right now if HDFS disconnect temporally, borges is not able to work properly and reconnect again.

[2018-01-30 18:49] ajnavarro opened #218 "Add priorities to borges job queue"
To be able to prioritize some repositories to be processed before than others, we need to add any kind of priority system to te queues. RabbitMQ supports [priorities](https://www.rabbitmq.com/priority.html).

[2018-01-31 15:15] erizocosmico opened #221 "Some generated siva files have no packfiles"
I'm processing all fetched repositories in the apps postgres (`/apps/borges/root-repositories` in HDFS) and I've come across a few errors while doing so.

Some repositories say that `object is no found` when trying to get the HEAD commit and others that there is no HEAD at all.

I did go to HDFS and download one of these corrupted siva files and did a `siva unpack`. It had `HEAD`,  `config`, `refs

[2018-02-05 17:04] erizocosmico commented on #221
UPDATE: i tried one of them and this was the output

[code]

[2018-02-05 19:51] vmarkovtsev opened #222 "Repositories explode into many Siva files"
(Number of distinct Siva files, repository URL) in the current dataset:
[code]

Something is wrong.

[2018-02-06 07:48] #216 closed

[2018-02-06 09:45] vmarkovtsev opened #223 "Feature request: measure the size of downloaded data"
In order to get the precise estimation of the benefit from rooting repositories, we need to calculate the size of all fetched packfiles and report it somehow. Go-git allows to hook into the receiving code: https://github.com/src-d/go-git/issues/549#issuecomment-358370745

[2018-02-06 11:04] ajnavarro commented on #222
Having a look more deeply, the repository `https://github.com/android/platform_build` has `14303` references (to be able to fetch them, you must change the refspec to the same we are using on borges: `refs/*:refs/*`): [references.txt](https://github.com/src-d/borges/files/1698714/references.txt)

I'm counting the total of init commits using standar git script. It is taking a lot of time, but right

[2018-02-06 11:51] ajnavarro commented on #222
Yep, the number of init commits is correct. Feel free to open this issue again if necessary.

[2018-02-06 12:03] vmarkovtsev commented on #222
@ajnavarro Can you please provide more details. What are these references, why they exist. Most likely even if they are legit we would want to have an option or a threshold to ignore them in the dataset. Let me explain why. 4k references, each taking 50MB are 10% size of the whole dataset. It is a bit too much for researchers. I need to understand the data and decide if we need it.

[2018-02-06 12:03] vmarkovtsev commented on #222
BTW I cannot reopen this - no button.

[2018-02-06 12:11] erizocosmico commented on #222
@vmarkovtsev right now we download absolutely every single reference the repository has in borges. Some of them have a root commit (commit with no parents) that is different from the one in master. That's why they are split in several siva files. That's how the whole concept of rooted repositories works, so that if another repository has a root commit that matches, it's added there. Siva files are

[2018-02-06 12:37] vmarkovtsev commented on #222
@erizocosmico Sure, this how is written in the paper, we dully understand this. However, it appears we need to filter the data. All data science requires data filtering, this is not somebody's fault. The problem exists, let's do a proper research and decide what to do. On one side, references must be cloned - this is a key contribution. On the other, cloning ALL the references is undesirable. I ne

[2018-02-06 14:22] ajnavarro commented on #222
Sure.

Googling by the name of the references, appears that they are using Gerrit to manage the git repository [updates.](https://gerrit-review.googlesource.com/Documentation/config-project-config.html)

Every change contains a `.*/meta` reference that is a orphan reference with data like build status, comments, and so on:
[meta_out.txt](https://github.com/src-d/borges/files/1699363/meta_out.txt)

[2018-02-06 16:40] ajnavarro opened #224 "Manage correctly empty repositories"
Instead of throw the next error:
`level=error msg="unable to process repository" err="repository has no HEAD`
we should manage correctly empty repositories.

Some examples:
- https://github.com/OmniSharp/OmniSharp
- https://github.com/fossasia/libregraphics.asia

[2018-02-07 08:42] vmarkovtsev commented on #222
Thanks! The hypothesis was that those Siva files were of equal size, and the packfile of a clean `git clone` was 50MB. Now that I know the nature of this explosion, this does not seem true anymore. I asked @warenlg to calculate the precise sizes of the Siva files from the list in the issue description. If it appears that they are 50MB + 4622x1KB, there is no problem - I will add a remark to the da

[2018-02-07 10:33] warenlg commented on #222
In this gist, I looked at siva files sizes belonging to github.com/android/platform_build
https://gist.github.com/warenlg/09d5712f37834417de88763ca0dd0e18

[2018-02-07 11:12] ajnavarro commented on #221
the error `repository has no HEAD` is because the repository is empty.

[2018-02-07 12:22] vmarkovtsev commented on #222
[code]

This is resolved. The conclusion: these thousands of refs are tiny and do not pollute the dataset.

[2018-02-07 12:22] #222 closed

[2018-02-08 09:25] erizocosmico commented on #224
Was this closed by mistake or solved by an issue? If so we should link it here.

[2018-02-08 10:20] ajnavarro commented on #224
Yes, I don't know why... fat fingers :P

[2018-02-08 10:47] mcarmonaa commented on #217
Addressed at #226

[2018-02-08 10:51] erizocosmico commented on #224
If the repo is empty, rooted transactioner creates an empty one, always with the same hash for all empty repos. This behavior is ok, actually, it was a case that was just not handled in the borges-indexer.

[2018-02-08 10:51] #224 closed

[2018-02-08 11:26] mcarmonaa opened #227 "Catch panics from jobs"
When a job is processing a repository if a panic is raised, all the jobs that consumer is processing are sent to the buried queue and the consumer finish.

Catching panic we can detect exactly what is failing and with what repositories so we can improve borges better. Also, consumer will still running and processing no problematics repositories.

[2018-02-08 16:41] mcarmonaa commented on #227
Addressed at #228

[2018-02-08 16:46] erizocosmico commented on #227
@mcarmonaa if instead of commenting here "addressed at #foo" you do it the other way around and you put "Closes #foo" or "Fixes #foo" in the PR description, when you merge the PR this is automatically closed 😛

[2018-02-09 07:50] mcarmonaa commented on #227
You learn something new every day :sparkles:

[2018-02-09 10:05] jfontan opened #229 "Some repositories panic with `cannot get hash`"
On pushing to rooted repo some repositories panic with `cannot get hash`. For example:

https://github.com/gifnksm/ProjectEulerRust

[code]

[2018-02-09 10:35] erizocosmico commented on #221
I cannot reproduce this with all the repositories I've tried from the list. Shall we close this if we can't reproduce it or leave it open to keep it in mind?

[2018-02-09 10:42] erizocosmico commented on #215
@bzz did you manage to try with the new version? Was this solved?

[2018-02-09 10:46] erizocosmico commented on #62
Should we close this or are we actually planning on implementing this?

[2018-02-09 10:49] jfontan commented on #229
Fix in: https://github.com/src-d/go-git/pull/744

[2018-02-09 10:50] erizocosmico commented on #229
@jfontan if you put "Closes #FOO" or "Fixes #FOO" in the description of the PR this gets closed automatically when it's merged (and is back-referenced)

[2018-02-09 14:33] mcarmonaa opened #231 "Status not set properly when consumer unexpectedly fails"
If the consumer fails with a panic (or the system kill it unexpectedly, etc), all those repositories it was processing stay in the `borges` queue with status `fetching`.

When other consumer find any of these repos in the `borges` queue, it take that repo, print a warning and then fails the processing and sent the repo to the `buriedQueue`:
[code]
The problem is that when the consumer sends one of

[2018-02-12 09:57] #213 closed

[2018-02-12 10:52] #217 closed

[2018-02-12 11:36] erizocosmico opened #234 "Migration path for upstream references"
We need a migration path to be able to deploy new borges. Until then, all we can do is backport things to 0.11.x, which gets more complicated as time goes by and features are added to both core-retrieval and borges upstream (specially because of the different package managers between master and 0.11.x)

We need to decide on one of the following options:

- Delete everything and start over with the

[2018-02-13 14:27] mcarmonaa opened #236 "Appending to siva files in HDFS"
As a first step I forked the current [go-client](https://github.com/colinmarc/hdfs) for HDFS the consumer is using to add functionality to create a file if not exist when an append operation is performed. [here](https://github.com/mcarmonaa/hdfs) the fork, just in case it would be useful at some point.

Apart of that, it raised the question: **will be this feature valuable?**

Append directly to s

[2018-02-13 22:43] #229 closed

[2018-02-14 14:11] #227 closed

[2018-02-22 09:38] eiso commented on #216
@mcuadros I saw that @rporres is adding 15 more machines, how many machines does that make in total running borges, and after we have fetched them all, how do we plan to keep the repositories updated (events API of GH?)

I am asking this to understand where we'll be on our Q1 objective related to the Paris pipeline (https://github.com/src-d/guide/tree/master/general/OKRs#engineering).

[2018-02-28 12:48] #231 closed

[2018-02-28 14:48] eiso commented on #216
@mcuadros answered my questions [here](https://github.com/src-d/minutes/pull/162)

[2018-03-01 12:05] ajnavarro opened #238 "Proposal: Change siva format to tar"
Checking the list of why we created siva from this blog post: https://blog.sourced.tech/post/siva/

- We cannot use append because if the process that is appending to the previous file crashes, the siva file itself will be corrupted, because the siva format does not have any end of Index flag. See index footer spec: https://github.com/src-d/go-siva/blob/master/SPEC.md#index . Adding a end of Index

[2018-03-01 12:14] ajnavarro opened #239 "Deploy new borges version on staging cluster"
- Create new Borges version with latest changes
- Create a new postgres DB on service nodes
- Deploy that new version using the new postgres with the new schema
- Delete all previous data from old postgres deployment

[2018-03-06 09:38] ajnavarro commented on #238
Answering myself:

- We can release a v2 of the file format resolving this issue: https://github.com/src-d/go-siva/issues/27

- The index is really useful when others read the siva file, allowing to get just packfiles, config files or references with no need of deflate the file.

- Tar format does not provide us all the habilities that siva does

- The garbage collector in our case is not a huge p

[2018-03-06 09:38] #238 closed

[2018-03-09 15:23] ajnavarro commented on #236
not possible on HDFS

[2018-03-09 15:23] #236 closed

[2018-03-21 09:37] erizocosmico commented on #239
Checklist:

- [ ] Stop and remove previous deployments of borges and rovers
- [ ] Remove all data in HDFS
- [ ] Drop database tables for borges
- [ ] Truncate db tables for rovers
- [ ] Create new db schema for borges
- [ ] Clean message queue
  - [ ] Borges
  - [ ] Rovers
- [ ] PR new deployment files
- [ ] Start new deployments
  - [ ] Rovers
  - [ ] Borges

[2018-03-21 09:47] ajnavarro commented on #239
@erizocosmico also we should move our postgres instance to a services node.

[2018-03-21 14:39] #239 closed

[2018-03-22 09:35] erizocosmico commented on #215
Ping @bzz

[2018-03-22 15:37] ajnavarro commented on #221
Can be related with https://github.com/src-d/engine/issues/336

[2018-03-22 16:35] ajnavarro commented on #221
The problem appears to be here:

https://github.com/src-d/borges/blob/master/archiver.go#L357

The configuration changes are made using the rooted repo directly, instead to use the transactioner, but I cannot localize the not handled error that is causing the commit of the rooted repo without doing the `Push` of the new packfile with the new objects.

[2018-03-26 14:31] erizocosmico commented on #215
Tried this locally myself. Issue is gone in latest borges build. Closing.

[2018-03-26 14:31] #215 closed

[2018-03-26 16:00] jfontan commented on #221
This is probably caused because packfile and index is written when `PackWriter` is closed:

https://github.com/src-d/go-git/blob/master/storage/filesystem/internal/dotgit/writers.go#L93

There is a bug that discards close errors in go-git. Already opened an issue there:

https://github.com/src-d/go-git/issues/791

[2018-04-03 08:55] ajnavarro commented on #234
Closing as done

[2018-04-03 08:55] #234 closed

[2018-04-03 08:59] ajnavarro opened #242 "Producer to requeue elements from buried queue"
We have two kinds of errors; `fatal` and `non-fatal`

`fatal` errors should go directly to buried queue to analyze them. Fatal errors will be uncaught and caught panics.

`non-fatal` errors can be divided into two subtypes; temporary and permanent errors.

Into permanent errors, we have only two types `ErrRepositoryNotFound` and `ErrAuthNeeded`. The first one is already managed on the database as

[2018-04-03 10:49] erizocosmico commented on #64
A few questions about this:

- Would this go into the current producer or we want another kind of producer (with a `--update` or something) that keeps working and scheduling jobs?
- Regarding commit frequency: Do we score lower the commits as they age (give more score to recent commits)? Do we update the repo every X (being X the commit frequency)? I assume we want to add the frequency to the data

[2018-04-03 12:26] jfontan commented on #218
`framework` already has the concept of priorities for jobs and some assigned values:

[code]

I'll use those priorities as starting point.

[2018-04-03 15:45] ajnavarro commented on #242
@mcarmonaa I changed the description of the task, to be more clear.

[2018-04-03 16:54] jfontan opened #244 "Improve command organization"
Right now there are two types of producers (from mentions or from file) and there will be a new one soon (repository updates). Check what could be the best way to organize this. Examples:

* Maintain the current producer and add a new one for updates
* Split producer in mentions, from file commands and updates
* Add a new parameter to producer to start the updater

[2018-04-03 17:05] jfontan opened #245 "Add regression testing"
Add tests that check that the generated data is correct. Examples:

* Check if the siva files generated are the same as previous versions
* Time that takes to clone repos don't increase
* Memory used to clone don't increase too much
* Metadata saved to database is consistent

These tests may not be part of the repository and could reside in an external repo with examples. These can be automated to

[2018-04-04 06:41] mcarmonaa commented on #242
Great! :+1:

[2018-04-04 09:52] jfontan commented on #64
I've opened an issue to discuss the organization of borges commands, that is, if we add `--update` as a parameter or we create a new subcommand: https://github.com/src-d/borges/issues/244

Maybe we can use difference between the time of the newest reference and last time updated. Stagnant repositories will have this time difference increasing all the time.

Updating pending repos don't make much s

[2018-04-04 14:25] jfontan commented on #221
Fixed with src-d/go-git#791

[2018-04-04 14:25] #221 closed

[2018-04-06 15:38] kuba-- commented on #64
Silly question - why do we want to distinguish _new repos_ vs _updates_? What's the benefit?
Can we approach the problem that there is always an update, and _new repo_ is just an update of everything/from-scratch/non-existing repo?

[2018-04-09 09:14] ajnavarro commented on #64
@kuba-- we need to treat in a different way because the source is different. New repositories come from rovers (a repository from rovers is called `mention` because you might already have that repository fetched).

This producer, instead of getting data from rovers, it generates new jobs from the database itself, from repositories that we already have.

At the end, basically all of the data genera

[2018-04-09 14:49] jfontan commented on #245
I propose having an external repository with the tests and fixtures needed for regression testing. These tests won't be usually run on the developer's machine but done automatically in the *cloud*. The nature of these tests will make them slow.

To be complete these tests should be able to describe the components and configuration where they will be running:

* AMQP
* Postgresql
* Locking mechanis

[2018-04-10 09:55] jfontan commented on #245
*Testing description*

## Preparation

* Download repositories to local
* Start git daemon
* Start services needed for tests (HDFS, RabbitMQ, Postgresql)

## Cases

### Correct siva files

* borges pack
* check siva

### Siva files not corrupt after crash

* start hdfs
* add siva
* borges pack
* check logs and kill borges
* check siva equal to original

### Time and memory

Borges pack should be e

[2018-04-10 14:03] ajnavarro commented on #242
@smola @mcuadros here is my proposal for error handling on borges, please have a look.

[2018-04-11 08:27] mcarmonaa commented on #244
I'm working on this before address the changes on #250 that require that functionality works as one of this commands.

[2018-04-12 13:00] vmarkovtsev opened #252 "push to rooted repo failed: feature not supported"
I am running the following command on https://drive.google.com/file/d/1EFborhvuAzDmIf4kSKYk0Y8vKdFd1Mb2:
[code]

I get
<details>
<summary>Errors</summary>
<pre>
INFO[04-12|14:50:51] initializing pack process                module=borges file=files output=siva caller=packer.go:34
INFO[04-12|14:50:51] starting                                 module=borges worker=0 caller=worker.go:39
INFO[04-12|14:5

[2018-04-12 13:14] vmarkovtsev commented on #252
Resolved by compiling with `-tags norwfs`

[2018-04-12 13:14] #252 closed

[2018-04-18 10:57] rporres opened #254 "Logging improvements"
* Borges can write to other distributed FS or to local. It doesn't make sense that we have lines like

[code]
* `msg` having spaces difficults greatly parsing logs as we cannot just split line using spaces. This is the regexp I had to use to be able to iterate through line keys and assign things to a hash:

[code]

 Messages such as `"repository-model-obtained"` instead of `"repository model obtai

[2018-04-18 11:01] rporres opened #255 "Producer creating tons of log when it cannot connect to RabbitMQ"
Producer was able to create more than 2Gb worth of logs when it apparently could not connect to RabbitMQ. Every log line was exactly the same:

[code]

[2018-04-18 15:39] ajnavarro opened #257 "Expose param to change the log output format. Possible formats JSON or TEXT"

[2018-04-19 11:04] erizocosmico commented on #245
This was intentionally stopped, right? Should we label it as blocked?

[2018-04-19 14:39] #257 closed

[2018-04-20 08:48] jfontan commented on #245
It's not blocked anymore. I'm again with it.

[2018-04-20 09:33] mcarmonaa commented on #255
@rporres are you sure that is the repeated error and not `error connecting to amqp`?
[code]

[2018-04-20 10:07] rporres commented on #255
yes, but I find it that way, I don't know how it happened

[2018-04-20 14:36] #244 closed

[2018-04-20 14:48] #242 closed

[2018-04-23 09:28] kuba-- commented on #254
Work on this issue requires:
- switch to logrus
- add new parameters (`logformat`, `logtimeformat`)
- integrate logrus hook for file names and numbers
- analyze code where we're working with real HDFS and where just with _any remote_

[2018-04-23 09:33] kuba-- commented on #254
RIght now logs look like:
[code]

or json:
[code]

[2018-04-23 12:44] kuba-- opened #262 "Standardise logging library in borges (gopkg.in/src-d/go-logger.v1)"
if something is missed try to enhance gopkg.in/src-d/go-logger.v1 library instead of replace it by any thirdparty (log15, logrus, ...)

[2018-04-23 12:45] kuba-- commented on #262
Check: https://github.com/src-d/borges/pull/261#issuecomment-383557288

[2018-04-23 14:07] ajnavarro opened #263 "Implement graceful shutdown"
To avoid erroed repositories when, per example, a new borges version is deployed on the server, we should wait for:
- Copy all the siva files that we are copying
- Cancel actual clones
- Cancel getting new repositories from the queue.

Basically, do all we can to avoid erroed repositories for no reason.

[2018-04-23 14:14] rporres commented on #263
This is how kubernetes handles pod termination: https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods

TL; DR: `SIGTERM` to the container main process + sleep 30 + `SIGKILL`

[2018-04-23 15:00] erizocosmico opened #264 "Generated siva file contains corrupted objects"
ML team reported [`ArrayIndexOutOfBoundsException` in the engine](https://github.com/src-d/engine/issues/377), which was strange because it seemed to be jgit's fault. After a bit of debugging I found the offending siva file, which is: `/apps/borges/10k/0a0bfaa46954437548fbaeb0e19237f84e968511.siva` and the object is `bd7cb56b3bc934acda47089175733f625c6cdb37`.

I made a reproduction case with jgit:

[2018-04-23 15:15] erizocosmico commented on #263
As @rporres said, we can try to do all that but nothing assures us that 30 seconds is going to be enough to finish all we need to copy and so on. It's more robust than now, yes, but still not bulletproof.

There is a `--grace-period` flag, but I don't know if it's for redeploys as well.

[2018-04-23 15:35] rporres commented on #263
I'd say it is safer to cancel current push/copy or whatever Borges is doing and make sure that state is consistent making sure that no half-copied files exist and Rabbit job is going to be handled by some other worker at a later time.

Most likely this should be implemented after the generalisation of the copy-siva-to-tmp mechanism. See https://github.com/src-d/core-retrieval/issues/57

[2018-04-24 06:46] #255 closed

[2018-04-24 16:04] erizocosmico commented on #263
Between #265 and https://github.com/src-d/core-retrieval/issues/58 everything about this issue should be covered (once https://github.com/src-d/core-retrieval/issues/58 is integrated in borges).

[2018-04-24 17:05] rporres commented on #263
@erizocosmico what happens with a job that is caught in the middle of the shutdown?

[2018-04-24 17:31] erizocosmico commented on #263
The copy and the clones are all cancelled
On Tue, 24 Apr 2018 at 19:05, Rafael Porres Molina <notifications@github.com<mailto:notifications@github.com>> wrote:

@erizocosmico<https://github.com/erizocosmico> what happens with a job that is caught in the middle of the shutdown?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub<https://github.com/

[2018-04-24 17:48] rporres commented on #263
I mean if it's requeued 😌

El El mar, 24 abr 2018 a las 19:31, Miguel Molina <notifications@github.com>
escribió:

[2018-04-24 23:01] rporres commented on #263
I mean if it's requeued 😌There's some logic to requeue failed jobs [in the PR](https://github.com/erizocosmico/borges/blob/45902e13ce7cab9e8037aa4e9ec855ba15721f7d/worker.go#L64-L78) but code is a bit hardcore for me to fully understand everything. I don't know if a cancellation triggers that code path. It looks it doesn't, but my knowledge of go channels is limited and my knowledge of Borges code

[2018-04-25 08:47] erizocosmico commented on #263
Since there is an error, the job is requeued, yes.

[2018-04-25 09:47] rporres commented on #263
Hmmm, I think that a shutdown from an operator should not be an error. It can be something as common as a version upgrade that needs a new binary running in a new container...

[2018-04-25 13:48] ajnavarro commented on #245
Proposal of where how and when execute and have this code:

- Does not make sense execute it on Travis because the numbers will not be never the same. We need a specific environment to obtain reproducible results. We can do it on a drone server.
- We don't want to execute it per each PR, maybe can be useful execute it once per day comparing master with the latest version.
- Apart to execute it onc

[2018-04-25 14:17] ajnavarro opened #269 "Losing the connection with the queue causes borges restart"
The last borges version (0.12.1) restarts with the following error:

[code]

[2018-04-25 14:19] ajnavarro commented on #186
Reopening, It appears again

[2018-04-25 21:28] jfontan commented on #245
I would have a separate repository for it and use a docker container to run these tests. The tool is able to download release binaries or build new ones from tags, branches or pull requests.

I'll leave the current code here in case you want to test it:

https://github.com/jfontan/borges-regression

[code]

The help text:

[code]

[2018-04-26 07:41] smola commented on #186
Keep an eye on https://github.com/golang/go/issues/23360
Is this reproducible in any environment?
What are Linux kernel versions there?

[2018-04-27 09:57] kuba-- commented on #269
The issue looks that `borges consumer` had problems with connection to a _broker_ (rabbitmq).
After polling _rabbitmq_ every second at some point a pod was killed by k8s manager and exited with error code *137* (128 + 9 -> `kill -9`). It's a pretty well known thing in k8s for pods which consume too much memory etc. (see https://github.com/kubernetes/kubernetes/issues/19825)

As a _just in case_ so

[2018-04-27 10:10] rporres commented on #269
dmesg from the server where this pod runs

[code]

[2018-04-27 12:48] mcuadros commented on #254
I believe that for JSON format the time format should be unix timestamp in nanoseconds.

[2018-04-27 13:08] kuba-- commented on #254
But so far (by default) we get precision in seconds:
`{"level":"warning","msg":"","time":"2018-04-27T15:06:54+02:00"}`

Moreover if we say that _this is standard do not customise it then we should make all members of `LoggerFactory struct ` private

[2018-05-07 10:27] mcuadros commented on #254
The LoggerFactory is the to be used by the `cli` applications.

[2018-05-08 16:00] ajnavarro opened #273 "last_commit_at column on repositories table is not correctly saved"
It always has the same value:
[code]

[2018-05-09 14:25] jfontan commented on #245
The code is uploaded to these repos:

* https://github.com/src-d/regression-borges
* https://github.com/src-d/regression-core

Docker container is here:

https://hub.docker.com/r/srcd/regression-borges/tags/

[2018-05-09 14:32] jfontan opened #275 "A lot of time is spent in go-git.v4/config.RefSpec.matchExact"
When the repository has a lot of references a lot of time is spent comparing ref names.

[code]

Most probably the method `Remote.addOrUpdateReferences` is called too much.

[2018-05-15 10:49] jfontan commented on #245
Closing this issue. We can open specific ones for enhancements and integration testing.

[2018-05-15 10:49] #245 closed

[2018-05-17 15:52] jfontan commented on #275
This was addressed in src-d/go-git#833.

[2018-05-17 15:52] #275 closed

[2018-05-17 16:13] #269 closed

[2018-05-17 16:39] jfontan commented on #263
Is there something we still have to change to have a proper shutdown? Do we want to continue here or can we open a new issue with the specific concern?

[2018-05-17 16:41] jfontan commented on #262
borges is now using go-log library.

[2018-05-17 16:41] #262 closed

[2018-05-17 16:53] jfontan opened #279 "Max priority is not correctly set in command help"
Description of `--priority` is rewritten on runtime to set the maximum priority. This is not working in the current release:

[code]

[2018-05-18 08:05] rporres commented on #263
I guess we can close it and deal with anything we may find with the current implementation in a new issue

[2018-05-18 08:41] ajnavarro commented on #263
@jfontan shall we close it?

[2018-05-18 12:44] jfontan commented on #263
Yes, we close it and wait for any new issues as @rporres says.

[2018-05-18 12:44] #263 closed

[2018-05-18 13:00] rporres opened #280 "borges producer fails to start"
I'm deploying borges v0.15.0 in k8s using [the official helm chart](https://github.com/src-d/charts/tree/master/borges) using

[code]

Producer pod is crashing with the message

[code]

[2018-05-18 14:53] jfontan opened #281 "Use env variables instead of arguments to configure logging"
Also delete some leftover logrus from `cli/borges/command.go`.

[2018-05-18 15:13] jfontan opened #282 "borges now creates more connections to database"
The postgres configuration hasn't changed (max 100 connections) but it is now throwing errors. There is some change in the latest version that is increasing the number of connections:

[code]

[2018-05-18 16:37] jfontan commented on #280
There is an incompatibility between queues created by rovers versions < 2.6.2. I've updated the readme to note this in #283.

I'm not sure we want to do anything else.

[2018-05-19 07:12] rporres commented on #280
nope, closing it

[2018-05-19 07:12] #280 closed

[2018-05-21 15:14] jfontan opened #284 "Some repositories fail with "invalid delta""
Examples:

* `git://github.com/ferzkopp/SDL`
* `git://github.com/bilderbuchi/openFrameworks`
* `git://github.com/line55/openFrameworks`

[code]

[2018-05-21 15:56] rporres opened #286 "Old files under CONFIG_TEMP_DIR are not being deleted"
This is from a k8s deployment where CONFIG_TEMP_DIR is set to /borges-tmp

[code]

[2018-05-21 16:42] jfontan opened #287 "Error "invalid argument" opening siva file"
Some jobs give `invalid argument` error:

[code]

Check the cause and of the path is correct. Pushing to rooted repos should be done to tmp and not the final directory.

[2018-05-21 16:55] jfontan opened #288 "Error "invalid delta" pushing changes"
Some repositories error with "invalid delta".

* `https://bitbucket.org/Volcik/elhep-mms.git`
* `https://bitbucket.org/googlrr/league-of-legends-stat-tracker.git`
* `git://github.com/pdalcin/Gromacs-GA`
* `git://github.com/caoer/cocos2d-iphone`

[code]

[2018-05-21 16:55] jfontan commented on #288
Checked those repos with `verify-pack` and `fsck`. They are correct.

[2018-05-21 17:06] jfontan commented on #288
Probably related to #264

[2018-05-21 18:03] jfontan commented on #286
It seems that on error cleanup is not called. Checked a bunch of dangling tmp dirs and they belong to an unfinished job or one that failed. Example:

[code]

[2018-05-21 18:08] r0mainK commented on #264
Hey guys, just wanted to let you know that this bug seems to be quite frequent, for the version of PGA we have on `local gpu`'s HDFS it seems to affect about 1 / 10 subdirectories (I have only preprocessed ~140 / 256 subdirs so it might be more/less). No pressure, its not rly a blocker for ML, Gabor is going to try and find the exact Siva files in each subdir with this bug so we can exclude them a

[2018-05-22 08:26] ajnavarro commented on #264
This error has been fixed on go-git https://github.com/src-d/go-git/pull/794

PGA was generated with a previous Borges version.

[2018-05-22 08:40] ajnavarro opened #290 "Some logs prints the slice of bytes of the hash instead of his string representation"

[2018-05-22 16:28] #279 closed

[2018-05-23 08:12] #281 closed

[2018-05-23 09:28] #290 closed

[2018-05-23 09:46] erizocosmico commented on #264
It is reproducible with the following repo https://github.com/zfcampus/zf-oauth2 even with current borges master.

[2018-05-24 15:54] erizocosmico commented on #288
Isn't this the same as https://github.com/src-d/borges/issues/284?

[2018-05-25 08:35] ajnavarro commented on #288
It  must be related.

El jue., 24 may. 2018 17:54, Miguel Molina <notifications@github.com>
escribió:

[2018-05-25 13:57] erizocosmico commented on #287
Path is correct. This error comes from `pushChangesToRootedRepository` which does also write to the remote (once it's finished pushing changes).

At least locally, this cannot be reproduced with any of these repositories.

I'm looking at the [`open` documentation](http://man7.org/linux/man-pages/man2/open.2.html) and `EINVAL` is just returned in the following cases:
- `O_DIRECT` was used and kerne

[2018-05-25 14:27] erizocosmico commented on #287
Flags seem to be okay, can't reproduce this with HDFS either.

[2018-05-25 14:51] erizocosmico commented on #287
Tried with updates and still can't reproduce the error.

The only part that could be throwing this error is stdlib [`file_unix.go`](https://golang.org/src/os/file_unix.go) line 168, which would mean there is some issue with the syscall and that's very weird.

The HDFS client library does not return any invalid errors and the HDFS errors don't look like that, so it must be on the Go side.

[2018-05-25 15:24] erizocosmico commented on #284
Good news, this one is reproducible.

[2018-05-25 16:18] erizocosmico commented on #284
The delta that fails in `git://github.com/ferzkopp/SDL` is because in `PatchDelta` the size to copy from src is bigger than the remaining size, and since it's an unsigned int overflows. Converting it to `int64` does the trick to stop the error, but the packfile generated is not valid according to `git verify-pack`

[code]

This is the minimal reproduction case I could find with the src and the del

[2018-05-29 08:58] jfontan commented on #288
Yes, it's the same as #284

[2018-05-29 08:58] #288 closed

[2018-05-30 14:45] jfontan commented on #287
We may want to take a look to glusterfs logs as they may have more information.

[2018-05-30 15:10] #286 closed

[2018-06-04 13:29] jfontan opened #295 "Error "failed: some refs were not updated""
Some repos fail with `failed: some refs were not updated`

[code]

[2018-06-05 09:16] jfontan opened #296 "Some repos failed with "request lease not found""
logs:

[code]

[2018-06-05 09:59] jfontan opened #297 "Check if the network or etcd/rabbit services could be flacky"
[code]

[2018-06-08 08:37] kuba-- commented on #264
Fix PR: https://github.com/src-d/borges/pull/299

[2018-06-08 09:34] #264 closed

[2018-06-12 10:42] rporres opened #302 "Borges producer fails to reconnect to broker on startup"
In a deploy in k8s I got this only message and nothing else

[code]

I deleted the pod and then things went ok

[code]

[2018-06-12 11:04] jfontan opened #303 "Add duration to queue and database logs"
Should log in debug mode the time it took do database or queue actions.

Also set the name for the time it took to do the action to `duration`. Right now there are different ways to call it:

* took
* copy-from-remote
* copy-to-remote

[2018-06-13 09:04] ajnavarro commented on #284
This issue should be fixed updating go-git version.

[2018-06-13 10:30] kuba-- commented on #287
Potential fix: https://github.com/src-d/borges/pull/304 may solve the problem. So far, I close it but we should monitor gluster IO

[2018-06-13 10:30] #287 closed

[2018-06-14 11:56] kuba-- commented on #284
With new version of go-git (4.4.1) I cannot reproduce it

[2018-06-14 11:56] #284 closed

[2018-06-14 13:14] #303 closed

[2018-06-15 08:44] #295 closed

[2018-06-15 13:11] kuba-- commented on #296
Looks like a timeout on *etcd* server (because job took too long).
The only possibility when *etcd* returns _request lease not found_ (`ErrLeaseNotFound`) is when response TTL is 0.

Worth to check following files:
- github.com/coreos/etcd/clientv3/concurrency/session.go
- github.com/coreos/etcd/clientv3/lease.go

Also `NewSession`:
[code]

More logs: https://gist.github.com/jfontan/67f36948edc72a

[2018-06-15 14:48] kuba-- commented on #296
[code]

[2018-06-15 14:55] kuba-- commented on #296
https://coreos.com/etcd/docs/latest/upgrades/upgrade_3_2.html

[2018-06-18 07:55] smola commented on #296
Note that, when the lock is lost (no matter what's the reason for it), the worker should stop working on that rooted repository and avoid any write to it unless it has acquired the lock and read the full status of the repository again.

[2018-06-19 03:47] campoy opened #309 "borges pack fails with "feature not supported""
After installing borges in a brand new VM `borges pack` fails with the `repos.txt` below:

[code]

Below the logs:

[code]

It seems like the error fails while trying to push the siva file to `https://github.com/src-d/borges`?
Am I holding this wrong?

[2018-06-19 07:33] ajnavarro commented on #309
I guess you are compiling from source code instead of using a binary from release page, right?

To do that, right now you need to add a special flag when building, to make go-git compatible with filesystems that only allows read or write, not both at the same time:

[`-tags norwfs`](https://github.com/src-d/borges/blob/master/Makefile#L4)

We are preparing a PR to avoid that on go-git: https://git

[2018-06-20 10:31] kuba-- commented on #297
PR: https://github.com/src-d/go-queue/pull/11

[2018-06-20 17:34] campoy commented on #309
I'll close as duplicated of src-d/go-git#864 then

[2018-06-20 17:34] #309 closed

[2018-06-21 13:57] #297 closed

[2018-07-03 10:30] ajnavarro commented on #186
Closing this bug. There is not only one cause for it, we fixed a coupled of them in the past.

[2018-07-03 10:30] #186 closed

[2018-07-16 08:33] smola commented on #296
@erizocosmico I think you should use the `Session` and select on the channel returned by `Done`, pretty much as if it was a `context.Context`:

https://godoc.org/github.com/coreos/etcd/clientv3/concurrency#Session.Done

[2018-07-24 09:40] #296 closed

[2018-08-01 15:00] smola commented on #27
@ajnavarro Is this still relevant?

[2018-08-02 07:09] #27 closed

[2018-08-02 08:50] smola commented on #62
Given that we are now using borges instances with a single thread, this is probably not relevant anymore.

[2018-08-02 09:03] #62 closed

[2018-08-02 13:14] smola opened #312 "Publish docker image to Docker Hub instead of Quay"
- [x] Create src-d/rovers repository at Docker Hub.
- [x] Add Docker Hub token to Travis CI.
- [x] Update Makefile to use default registry and organization.
- [x] Upload older images from Quay to Docker Hub.

[2018-08-07 09:01] smola commented on #312
cc @mcuadros

[2018-08-08 17:29] smola opened #314 "borges pack fails with invalid delta error"
Reported by @jjhenkel on Slack:

[code]

Happens on:

[code]

The user tested both on latest master and v0.16.2. Running on `golang:1.10.3-stretch` Docker container.

I could not reproduce this running `borges pack` from scratch. Running it twice on Guava does not fail either.

I initially thought this could be related to a nasty fork and creating a packfile on push, but note that for the failing

[2018-08-09 08:15] smola opened #315 "Travis fails on master (go dep issue)"
Sanity checks for non-changed files fail on Travis master. This might require pinning `go dep` to the latest release instead of using master with `go git`, just as we did in other projects.

https://travis-ci.org/src-d/borges/jobs/413710734

[2018-08-09 09:29] smola opened #316 "Update to latest go-git"
Let's keep up with go-git bugfixes and update it.

* Latest version does not use `-tags norwfs`, so it must be dropped from `Makefile`. It will also require latest go-billy and go-billy-siva. I have tested this and it fails, so it might still need fixing on borges or go-git side https://github.com/src-d/go-git/pull/864
* For https://github.com/src-d/go-git/pull/870 it will need the following follo

[2018-08-13 09:01] jfontan commented on #315
The problem is that the latest release of go dep has a different lock file output. There's already a CI PR to install only releases instead of master as the output files were changed in master from time to time:

* https://github.com/src-d/ci/issues/83
* https://github.com/src-d/ci/pull/84

Meanwhile I would update lock file with the latest go dep version.

[2018-08-14 07:25] kuba-- commented on #315
So I hope this can be closed

[2018-08-14 09:39] jfontan commented on #315
I would leave it open until the CI changes are made an we use only releases instead of `master`.

[2018-08-14 11:19] smola opened #320 "Use sane defaults on Docker"
From @dennwc ([more](https://gist.github.com/dennwc/fc869156bc622c788fbc4bd39baf99dc)):

Similar issue on rovers: https://github.com/src-d/rovers/issues/192

If defaults are good enough, docker container would be able to run with minimal setup (e.g. just some container links to postgres and rabbit).

[2018-08-14 11:20] smola opened #321 "latest docker image does not point to latest release"
From @dennwc ([more](https://gist.github.com/dennwc/fc869156bc622c788fbc4bd39baf99dc)):

[2018-08-14 11:22] smola opened #322 "README uses wrong container name for borges producer"
From @dennwc ([more](https://gist.github.com/dennwc/fc869156bc622c788fbc4bd39baf99dc)):

[2018-08-14 11:37] smola opened #323 "Default to --workers=1"
From @dennwc ([more](https://gist.github.com/dennwc/fc869156bc622c788fbc4bd39baf99dc)):

We are using `--workers=1` ourselves in our deployments, partly because of this reason. So it would be good to default to it and spare the trouble to users.

In readme, instead of using `--workers=20` as an example for how they can be changed, we could use `--workers=4`.

[2018-08-14 11:39] smola opened #324 "Publish our Grafana dashboards"
From @dennwc ([more](https://gist.github.com/dennwc/fc869156bc622c788fbc4bd39baf99dc)):

We have pretty nice Grafana dashboards ourselves. It would be nice to publish them so that users can use them too. Not sure how or where though.

[2018-08-14 11:42] smola opened #325 "Add repository endpoint to the logs as soon as it is available"
From @dennwc ([more](https://gist.github.com/dennwc/fc869156bc622c788fbc4bd39baf99dc)):

This is something that comes up repeatedly. Let's add the `endpoint` to the logging fields as soon as it is available.

[2018-08-14 12:06] smola opened #326 "rovers + borges pipeline apparently does nothing for a while when started"
From @dennwc ([more](https://gist.github.com/dennwc/fc869156bc622c788fbc4bd39baf99dc)):

This is probably a known issue. Not sure if it is a rovers or borges thing, but it would be worth to take a look and improve documentation and or logging.

[2018-08-14 12:18] smola opened #327 "Document rooted repositories internal layout"
From @dennwc ([more](https://gist.github.com/dennwc/fc869156bc622c788fbc4bd39baf99dc)):

The high level explanation of rooted repositories is already in the readme, and the siva explanation is only about the archiving format, so we are missing more detailed documentation about how rooted repositories are actually organized (referece names, remote config).

Maybe this would be a good thing to add o

[2018-08-14 13:00] erizocosmico commented on #320
AFAIK almost all parameters already have defaults. Just adding good defaults to hosts in broker and postgres should be enough

[2018-08-16 09:06] #320 closed

[2018-08-16 10:15] #325 closed

[2018-08-16 13:32] #323 closed

[2018-08-16 13:35] #322 closed

[2018-08-16 14:58] jfontan commented on #321
Fixed in #333

[2018-08-16 14:58] #321 closed

[2018-08-17 08:53] smola commented on #312
Pushed everything back to v0.12.0. Probably not worth to push anything onder. Closing.

[2018-08-17 08:53] #312 closed

[2018-08-17 08:55] erizocosmico commented on #326
I'm gonna need more details about this. I can't reproduce it.

Steps I did:

- Start rovers with all providers with GitHub token. It started discovering repos right away.
- Start borges producer. Started queuing repos right away.
- Start borges consumer. Started downloading repos right away.

[2018-08-17 09:00] dennwc commented on #326
The scenario was the following:
* Start rovers with bitbucket provider.
* Probably up to an hour of inactivity.
* Start borges consumer (it's the first in the README).
* Start borges producer (maybe after 5-10 min).

[2018-08-17 09:05] erizocosmico commented on #326
Aaaaaaaah. I know what happened to you then. The first N thousand repositories of bitbucket are only Mercurial, so it takes like an hour to start finding git repositories in bitbucket. It would say stuff on the logs if you use the debug log level:

[code]

[2018-08-17 09:10] dennwc commented on #326
I haven't seen these logs, but it may be because rovers command had a higher log level.

[2018-08-17 09:43] smola commented on #326
A warning seems too much. Since we only look for git repositories, I guess skipping Mercurial repositories is quite irrelevant? Specially if there are thousands of those? But `INFO` could do.

:+1:

Ugly, but it sounds reasonably, since we don't have any near future plans to support Mercurial.

[2018-08-22 14:04] #326 closed

[2018-09-18 12:10] jfontan opened #339 "--queue-priority description does not correctly show max priority"
The string `:MAX:` should be substituted with the maximum priority in the description.

[code]

[2018-09-18 12:12] jfontan opened #340 "There should be no option to change DB driver"
Borges uses Kallax to access the database and it only supports PostgreSQL. Still there's an option to change database driver:

[code]

[2018-09-18 16:55] #340 closed

[2018-09-18 16:55] #339 closed

[2018-09-18 17:04] rporres opened #344 "Borges producer hangs if it cannot acquire a lock"
In a k8s deployment, I specified wrongly the locking connection string and borges didn't say anything about it in the logs, it just stayed in that way without giving any further message.

[2018-09-20 17:33] jfontan opened #345 "go-cli changes lost --metrics parameter"
`--metrics` can no longer be specified. This was used to add data to sysdig.

[2018-09-21 09:18] rporres commented on #344
I specified a non existing dns entry. Instead of
[code]
I used
[code]
note the change in the namespace in the etcd fqdn

[2018-09-21 12:11] kuba-- commented on #344
@rporres it happened because you didn't specify `?dial-timeout=...` parameter.
I'll fix it by setting default value.
@jfontan - 3s. sounds good to you as a default `dial-timeout` for `etcd`?

[2018-09-21 12:18] jfontan commented on #344
I suppose that 3 seconds should be enough. What's the default timeout?

[2018-09-21 12:20] kuba-- commented on #344
This is the problem - there is no default, we have to pick up sth.
But `healthBalancer` uses this one: `minHealthRetryDuration = 3 * time.Second`, so I suppose it's ok to use the same value.

[2018-09-21 12:42] jfontan commented on #344
I would use that then. It can be specified in the etcd url I believe:

[code]

[2018-09-24 16:53] #345 closed

[2018-09-24 16:54] #344 closed

[2018-09-28 12:13] #315 closed

[2018-10-02 15:05] smola commented on #324
@ajnavarro Let's do this some time soon, at least dumping our current dashboard to `extra/grafana/dashboard.json` or something like that.

[2018-10-08 14:16] smola opened #353 "Explain in documentation that a single repository can be spread across multiple rooted repositories"
https://docs.sourced.tech/borges/using-borges/key-concepts#rooted-repository

It is clear that forks will be merged into a single rooted repository, but it's not so clear that a single repository can be split into multiple rooted repositories (e.g. master vs gh-pages).

[2018-10-09 09:49] #324 closed

[2018-10-09 12:59] jfontan opened #356 "producer commands show log and profiler help twice"
[code]

[2018-10-10 17:43] #353 closed

[2018-10-17 14:55] jfontan opened #364 "Add meaningful log messages that can be searched in kibana"
Current log messages do not offer enough information to debug malfunction or trends in repositories. Ideas of information that can be useful:

* Time that it took each part of the download and total. Right now only some parts have this information.
* Clearly define start and end of a job no matter its outcome. Messages are different for jobs with error and successful ones.
* Add labels to messages

[2018-11-06 11:59] ajnavarro opened #365 "Make repository fail if a packfile is not found and should be there."
To avoid problems on wrong deployments with wrong parameters like bucket_size, we should check using the database if a siva file is expected before pushing. If it is expected, we should throw an error, marking that repository as errored.

[2018-11-08 16:18] jfontan opened #367 "Tool to fix problems with siva files"
# Problems

* Gluster brick had malfunction and we don't know if we have all the files.
* Bucket configuration was incorrect and siva files were downloaded to the incorrect directory. There are some siva files that were already downloaded to the correct directory. This makes these files to contain incomplete information.

# Possible solutions

[List of proposed commands and which ones are needed n

[2018-11-11 12:41] jfontan commented on #367
`DISTINCT` should not be used to get the init commits as is way slower than getting all:

[code]

[2018-11-11 19:41] jfontan commented on #367
To make it more flexible and easier to extend for unforeseen cases there can be commands that create lists and others that do some actions over them. Kind of unix piping style. Some examples of commands could be:

* get list of all init files

[code]

* get list from disk

[code]

* separate by bucket size

[code]

* get list of repeated inits

[code]

* get list of inits only in one side

[code]

[2018-11-13 11:57] #365 closed

[2018-11-14 13:27] jfontan opened #368 "Create new go-billy FS for gluster"
This FS will make calls directly to the gluster api. Initially it will be used in the borges recover tool (#367).

There are official gluster bindings for libgfapi: https://github.com/gluster/gogfapi

It would be nice to also have a benchmark comparing moving files using FUSE and libgfapi.

[2018-11-14 13:38] jfontan opened #369 "Create a tool to do borges housekeeping"
This tool will have utilities to help gather information from a borges deployment and fix the problems that cannot be done easily with the available tools. The issue describing the problems is #367.

The first version will only have the minimum commands needed to fix the current problems:

* get list of all siva files from the database
[code]

* change bucket size (move files from root to size 2 b

[2018-11-14 13:39] jfontan commented on #367
Issues related to implement the tool:

* [ ] Create `go-billy-gluster` #368
* [ ] Create tool to fix borges problems #369

[2018-11-14 16:28] jfontan commented on #314
Clone does not detect when the connection was closed prematurely and can be the cause of these errors.

[2018-11-16 18:29] jfontan commented on #368
Initial version added as a PR https://github.com/src-d/go-billy-gluster/pull/1

[2018-11-17 18:19] jfontan commented on #369
Getting all the references from the database is not that slow nor takes that much memory:

[code]

Took 2:19 minutes and around 2Gb of ram. The total number of references is a bit more than 233 million and unique siva files is almos 12 million. The list of siva files is sorted before being printed.

The list is held in a map while getting it so the siva hashes are not repeated. They are stored as

[2018-11-22 09:03] #368 closed

[2018-11-23 11:03] jfontan opened #371 "Deleted and recreated repositories keep old sivas on disk but delete its references"
Some repositories are recreated frequently so it's init commit changes. This leaves siva files from old repository versions dangling, not pointed by any reference. Example of repository:

https://github.com/testingqaskope/Automation_donot_delete
ID: `016497c9-037f-acf2-b0f6-3bd3ff5bb4e7`
Roots:

* `c898f2aae64c75143b9894135bb2575fdfee2377`
* `0e75519232d148811a27600c59af18d78ed6062d`
* `022508a673

[2018-11-29 11:12] #367 closed

[2018-11-29 14:22] jfontan commented on #369
Fixed in #367

[2018-11-29 14:22] #369 closed

[2018-12-07 13:50] jfontan commented on #314
This is fixed in go-git. Will be added to borges after a new go-git release.

[2018-12-19 11:00] ajnavarro commented on #314
@jfontan this is not blocked anymore, right? I think we have new go-git version available

[2018-12-19 17:12] jfontan commented on #314
It's still blocked, latest release still does not have the changes needed:

https://github.com/src-d/go-git/compare/v4.8.1...master

[2019-01-10 09:49] jfontan opened #377 "Fast path for single root repositories"
When a repository only has one root and this does not already exist the packfile can be reused from the download instead of doing a push and repacking. It will add extra objects but will be much faster.

[2019-01-14 10:42] #377 closed

[2019-01-16 17:49] jfontan opened #379 "tool: add support to list sivas in gluster storage"
This feature is needed to check the storage. We can not use information from bricks as some files can be duplicated and provide erroneous information.

[2019-01-16 18:02] rporres commented on #379
As a workaround, we may use the information from the bricks if we need to know which files to recover if we lose a brick in a purely distributed volume.

[2019-02-07 10:26] jfontan opened #380 "Change the way repositories are downloaded"
# Problem

To decrease the size of stored data we save the downloaded repositories in separate rooted repos. This greatly saves space but makes working with them a bit difficult:

* A single repository with several non connected tree histories are split in several rooted repositories. To go over all its data we have to iterate over several locations. These locations may not be in the same computer

[2019-02-08 15:55] jfontan opened #381 "Store repositories in a single siva file"
# Purpose

Store whole repositories in the same place instead of splitting them in several siva files. Reasons explained in: https://github.com/src-d/borges/issues/380

# Changes

* Add rooted repo column for the whole repository to the database schema
* Skip init commit search if repository has already a rooted repository selected in DB
* Select the rooted repository for the repository if it stil

[2019-02-28 19:01] #314 closed

[2019-03-05 15:32] jfontan opened #383 "Close queue.JobIter on error and set Queue Notifier"
The consumer calls a notifier each time a queue error is raised:

[code]

In the current version (`0.19.0`) this notifier is not set so we are not logging when an error happens.

This may be related with borges getting stuck and not getting more jobs from the queue. After some hours it stops and has a lot of goroutines trying to read from the queue:

[code]

In two of these events the number of th

[2019-03-05 16:15] jfontan opened #384 "Upgrade go-git to fix locked push gorouties"
The `go-git` commit is `af1e3817a80cccb560b25b0fd3343894754020ba`

[2019-03-06 13:47] #383 closed

[2019-03-06 13:47] #384 closed

[2019-03-11 18:41] jfontan opened #388 "Calculate the overhead of rooted repositories"
When a repository has several forks the siva file gets appended with new information. Calculate the overhead that this has on the size of the siva files. Compare the size of a multiple fork siva size with one after garbage collection and freshly created siva file (only one index).

[2019-03-20 16:12] jfontan opened #389 "New borges design"
# Rovers

Get also if the repository is a fork and which is the parent repository. This can be done checking if `"fork": true` in the JSON and getting with the api the repository and checking `source`, this is the first parent. This information comes handy and it can be used to get the rooted repo where to push this repository. With it we have can accomplish two things:

* Do not schedule two repo

[2019-03-20 16:12] jfontan commented on #389
# Prototype

The prototype is similar to `borges pack`. It gets a file with a list of URLs and downloads them to siva files. Only single job and the worst case scenario is implemented, that is, the name of the parent repository is not known beforehand so it has to be calculated.

* Create a temporary repository with the remote configured but download only HEAD
* Calculate root from the repo
* Prep

[2019-03-20 21:49] jfontan opened #390 "Histogram of number number of repos per siva file"
From the database get statistics of the number of repos per siva file. For example:

| repos | number of sivas |
|--|--|
| 1  | 5000 |
| 2 | 4500 |
| 3 | 4000 |

[2019-03-21 15:04] mcarmonaa commented on #390
Data collected with the query:

[code]

Histrogram: n_sivas values are in logarithmic scale (y-axis), the graphic only contains de 150 firsts values.

![histogram-logarithmic](https://user-images.githubusercontent.com/16907441/54761527-2bc0d900-4bea-11e9-8341-93bda7eb0564.png)

DATA:

Total siva files when the query was executed: 21_377_103

| n_repos | n_sivas  |
|---------|----------|
| 1

[2019-03-22 18:03] jfontan commented on #389
Code for the prototype:

https://github.com/jfontan/borges/tree/new_borges

Uses go modules so clone outside `GOPATH`. The command gets one argument that's a file containing a list of repository URLs. It downloads siva files to  `./sivas` directory.

[code]

[2019-03-27 13:24] mcarmonaa commented on #388
I've analyzed several repositories with different sizes and number of forks, and extracted the following information:

- `source+forks_used`: number of repositories (main repo + some forks) used to generate the rooted siva file.
- `bare_source_size`: size of the main repository when it's cloned with `git clone --bare`
- `rooted_siva`: size of the generated siva file.
- `fresh_siva`: size of a new

[2019-05-21 10:06] jfontan commented on #381
Information on how the repositories are stored with the current system (one siva per rooted repo):

* Overhead of rooted repositories #388
* Histogram of number number of repos per siva file #390

[2019-05-21 10:07] #390 closed

[2019-05-21 10:07] #388 closed